In [ ]:
#What are the most common DogVacay host names?

In [33]:
import requests
import pandas as pd
import sqlite3 as lite
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from collections import Counter
import itertools

In [47]:
df = pd.read_csv('dog-vacay.csv', sep='\t')

In [48]:
df.shape

(4662, 18)

In [61]:
df.head()

,Unnamed: 0,city,fee,names,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
0,0,"Phoenix, Arizona",35,"[Big, Backyard, in, Central, Phoenix]",5,8,1,26,2,1,0,1,0,0,0,0,0,0
1,1,"Phoenix, Arizona",35,"[SUZY, Q, to, the, Rescue]",5,16,2,30,3,1,0,0,1,0,0,0,0,1
2,2,"Phoenix, Arizona",35,"[24/7, Dog, boarding]",0,0,1,0,4,1,0,1,1,1,0,0,0,0
3,3,"Phoenix, Arizona",38,[Messy4dogs@gmail.com],5,2,3,3,4,1,0,1,1,1,0,0,0,0
4,4,"Phoenix, Arizona",25,"[Pet, Paradise]",5,1,1,5,4,1,0,0,1,1,1,0,0,0

In [66]:
list_ = df['names']
merged_list = list(itertools.chain(*list_))
Counter(merged_list)

Counter({',': 14385, ' ': 14177, 'e': 8956, 'o': 7238, 'a': 7197, 'r': 4879, 'i': 4749, ']': 4663, '[': 4662, 't': 4556, 'n': 4166, 's': 4139, 'g': 3266, 'l': 3236, 'y': 2796, 'P': 2715, 'u': 2642, 'd': 2369, 'p': 2343, 'D': 1802, 'm': 1724, 'c': 1579, 'h': 1571, '!': 1446, 'v': 1274, 'w': 1256, 'H': 1224, 'S': 1181, 'C': 1094, 'f': 1041, 'L': 1007, 'A': 852, 'B': 823, "'": 734, 'k': 709, 'F': 696, 'W': 666, 'T': 633, 'R': 519, '-': 452, 'b': 438, 'E': 411, 'M': 391, 'Y': 360, 'O': 333, '&': 318, 'G': 317, 'I': 308, 'V': 264, 'N': 261, '.': 243, 'K': 176, 'U': 176, 'x': 161, 'z': 138, '/': 126, 'J': 109, ')': 80, '4': 75, '*': 69, '2': 69, ':': 55, '(': 44, '9': 39, 'Z': 35, '+': 34, '7': 34, '?': 27, '1': 22, 'Q': 19, 'j': 17, 'q': 16, '~': 15, '=': 14, 'X': 12, '@': 10, '0': 9, '3': 7, '5': 7, ';': 6, '8': 5, '#': 5, '$': 3, '`': 3, '\n': 2, '"': 2, '|': 1, '{': 1, '6': 1, '%': 1, '}': 1})

In [60]:
df.dtypes

Unnamed: 0          int64
city               object
fee               float64
names              object
ratings           float64
repeat              int64
response_time       int64
review              int64
services            int64
boarding            int64
sitting             int64
daycare             int64
checkups            int64
walking             int64
bathing             int64
training            int64
grooming            int64
pickup/dropoff      int64
dtype: object