In [ ]:
#What are the most common DogVacay host names?

In [356]:
import requests
import pandas as pd
import sqlite3 as lite
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from collections import Counter
import itertools
import re

In [357]:
df = pd.read_csv('dog-vacay.csv')

In [358]:
df.shape

(4662, 18)

In [359]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [360]:
#df.head()

In [361]:
df['names'] = df['names'].apply(lambda x: str(x).split())

In [381]:
list_ = df['names'].tolist()
merged_list = list(itertools.chain(*list_))
#Counter(merged_list)
# words = df['names'].tolist()
# Counter(word for line in words for word in line)

In [382]:
#25%, 50%, 75% tiers based on reviews
df['tierreview'] = df['review'].map(lambda x: 1 if x<=3 else 2 if 3<x<=10 else 3)

In [383]:
#df.describe()

In [384]:
df.groupby('tierreview').mean()

,fee,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
tierreview,,,,,,,,,,,,,,,
1,39.879304,2.160155,0.352418,1.558607,0.753191,3.135397,0.921083,0.373308,0.601161,0.422050,0.457640,0.141973,0.027853,0.008124,0.182205
2,37.473970,4.971800,3.065076,1.583514,6.494577,3.191974,0.967462,0.360087,0.651844,0.437093,0.368764,0.163774,0.027115,0.015184,0.200651
3,36.952381,4.986147,16.211255,1.633766,32.712554,3.199134,0.991342,0.286580,0.705628,0.446753,0.311688,0.173160,0.031169,0.013853,0.238961

In [385]:
tier3 = df[df.tierreview == 3]
tier2 = df[df.tierreview == 2]
tier1 = df[df.tierreview == 1]

In [386]:
namelist3 = tier3['names']
tier3_list = list(itertools.chain(*namelist3))
namelist2 = tier2['names']
tier2_list = list(itertools.chain(*namelist2))
namelist1 = tier1['names']
tier1_list = list(itertools.chain(*namelist1))

In [428]:
d3 = list(Counter(tier3_list).items())
dfnames3 = pd.DataFrame(d3)
dfnames3.columns = ['word', 'occurrence3']

In [429]:
d2 = list(Counter(tier2_list).items())
dfnames2 = pd.DataFrame(d2)
dfnames2.columns = ['word', 'occurrence2']

In [437]:
d1 = list(Counter(tier1_list).items())
dfnames1 = pd.DataFrame(d1)
dfnames1.columns = ['word', 'occurrence']
df.sort('occurrence', ascending=False)

KeyError: 'occurrence'

In [390]:
#df = df[df.name != 'Tina']
dfnames = dfnames[(dfnames.word != 'in') & 
                  (dfnames.word != '&') & 
                  (dfnames.word != 'and') & 
                  (dfnames.word != 'for') & 
                  (dfnames.word != 'The') & 
                  (dfnames.word != 'of') & 
                  (dfnames.word != 'a') & 
                  (dfnames.word != 'A') &
                  (dfnames.word != 'A') &
                  (dfnames.word != 'with') &
                  (dfnames.word != 'from') &
                  (dfnames.word != 'to')]

In [433]:
dfcombine = pd.concat([dfnames1, dfnames2, dfnames3], axis=1, ignore_index=True)
dfcombine.columns = ['word', 'occurrence1', 'word', 'occurrence2', 'word', 'occurrence3']
#dfcombine.sort(['occurrence1', 'occurrence2', 'occurrence3'], ascending=[False, False, False])

,word,occurrence1,word,occurrence2,word,occurrence3
0,LOFT,1,all,7,Pick,1
1,Barks,8,Safe,4,Barks,3
2,Heights,17,Rossmore,1,Dog-errific,1
3,four,1,:),5,Heights,3
4,party!,1,Barky,1,party!,1
5,Lodge,5,Fix,1,Lodge,1
6,NYC,2,Stay-n-Play,1,NYC,2
7,Pawradise,3,WAG-A-TAIL,1,Hangout,4
8,Stephanie's,2,Sugar,1,Hootie,1
9,buddy,3,Rubs.,1,"Sand,",1
10,Petite,6,woods,1,Watch,1
11,(for,2,DoggyLand,1,Nirvana,1
12,Getaway-Doggy,1,K.O.s,1,Host,1
13,Watch,2,Professional,4,Pasadena!,1
14,Scottsdale,2,Lodge,1,Retreat,27
15,Platt,2,NYC,2,@,3
16,Host,2,only,1,Getaway,2
17,Pasadena!,1,House-a,1,Brea,1
18,Ziggy's,1,Frenchie,2,Bark.,1
19,Oko,1,Woofie,1,GA,1
20,@,2,dog!,3,Bark!,1
21,(Brooklyn),1,S.T.A.R.,1,Lovers!,1
22,24/7??,1,college,1,Premier,2
23,Kensington,1,Exceptional,1,Sandy,1
24,Getaway,17,fenced,1,enjoy,1
25,PoochCare,1,Fremont,1,me!,1
26,today!,1,Nob,1,Festival,1
27,GO,1,good,2,BED,1
28,PB&J,1,Experts!,1,Hounds,7
29,Doggie's,3,to,10,second,1
...,...,...,...,...,...,...
2828,Dog-Sitting,1,NaN,NaN,NaN,NaN
2829,PETS,1,NaN,NaN,NaN,NaN
2830,Club!,3,NaN,NaN,NaN,NaN
2831,Morningside,2,NaN,NaN,NaN,NaN
2832,Montavilla,2,NaN,NaN,NaN,NaN
2833,Like,8,NaN,NaN,NaN,NaN
2834,Ace,1,NaN,NaN,NaN,NaN
2835,Daisy's,1,NaN,NaN,NaN,NaN
2836,stay,8,NaN,NaN,NaN,NaN
2837,Persnickety,1,NaN,NaN,NaN,NaN
2838,U,3,NaN,NaN,NaN,NaN
2839,Panda's,1,NaN,NaN,NaN,NaN
2840,RULE!,2,NaN,NaN,NaN,NaN
2841,"Whisperer,",1,NaN,NaN,NaN,NaN
2842,friends,5,NaN,NaN,NaN,NaN
2843,in!,2,NaN,NaN,NaN,NaN
2844,South,7,NaN,NaN,NaN,NaN
2845,Kinship,1,NaN,NaN,NaN,NaN
2846,Prospect,5,NaN,NaN,NaN,NaN
2847,Lush,1,NaN,NaN,NaN,NaN
2848,Private,5,NaN,NaN,NaN,NaN
2849,Pats,1,NaN,NaN,NaN,NaN
2850,dog's,8,NaN,NaN,NaN,NaN
2851,Sleep,5,NaN,NaN,NaN,NaN
2852,Maple,1,NaN,NaN,NaN,NaN
2853,Poolside,1,NaN,NaN,NaN,NaN
2854,Happen,1,NaN,NaN,NaN,NaN
2855,Philly,4,NaN,NaN,NaN,NaN
2856,Montebello,1,NaN,NaN,NaN,NaN
2857,Doggie/Kitty,1,NaN,NaN,NaN,NaN