In [130]:
#What is the probability that I will get booked if I charge $35/night with 4 repeat guests and 10 reviews?

In [138]:
import pandas as pd
import statsmodels.api as sm
import math
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import KFold

In [139]:
df = pd.read_csv('dog-vacay.csv')

In [140]:
df.head()

,Unnamed: 0,city,fee,names,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
0,0,"Phoenix, Arizona",35,Big Backyard in Central Phoenix,5,8,1,26,2,1,0,1,0,0,0,0,0,0
1,1,"Phoenix, Arizona",35,SUZY Q to the Rescue,5,16,2,30,3,1,0,0,1,0,0,0,0,1
2,2,"Phoenix, Arizona",35,24/7 Dog boarding,0,0,1,0,4,1,0,1,1,1,0,0,0,0
3,3,"Phoenix, Arizona",38,Messy4dogs@gmail.com,5,2,3,3,4,1,0,1,1,1,0,0,0,0
4,4,"Phoenix, Arizona",25,Pet Paradise,5,1,1,5,4,1,0,0,1,1,1,0,0,0

In [141]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [142]:
df['fee'].mean()

38.678464178464175

In [143]:
df['repeat'].mean()

4.8178893178893176

In [144]:
df['review'].mean()

9.8065208065208065

In [145]:
df['fee35'] = df['fee'].map(lambda x: 1 if x >= 35 else 0)

In [146]:
cols = ['repeat', 'review']

In [147]:
x = df[cols]
y = df['fee35']

In [148]:
#Define the logistic regression model.
model = sm.Logit(y,x)

In [149]:
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.687719
         Iterations 5

In [150]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  fee35   No. Observations:                 4662
Model:                          Logit   Df Residuals:                     4660
Method:                           MLE   Df Model:                            1
Date:                Thu, 24 Dec 2015   Pseudo R-squ.:                -0.07994
Time:                        11:08:39   Log-Likelihood:                -3206.1
converged:                       True   LL-Null:                       -2968.8
                                        LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
repeat        -0.0118      0.009     -1.314      0.189        -0.029     0.006
review         0.0158      0.005      3.378      0.001         0.007     0.025
==============================================================================
"""

In [151]:
def logistic_function(repeat, review):
    prob = 1/(1 + math.exp(coeff[0]*repeat+coeff[1]*review))
    if prob > 0.7:
        p = 1
    else:
        p = 0
    return prob, p

In [152]:
coeff = result.params
print coeff

repeat   -0.011773
review    0.015812
dtype: float64

In [153]:
logistic_function(4, 9)

(0.47621438214851924, 0)

In [120]:
#dfTrain, dfTest = train_test_split(df, test_size=0.1, random_state=0)

In [121]:
#dfTrain = pd.DataFrame(train, columns=df.columns)
#dfTest = pd.DataFrame(test, columns=df.columns)

In [329]:
dfTest['predict'] = result.predict(dfTest[cols])