In [86]:
#What is the probability of $35/night with 4 repeat 
#guests and 20 reviews?

In [214]:
import pandas as pd
import statsmodels.api as sm
import math
import numpy as np
from sklearn.cross_validation import train_test_split

In [215]:
df = pd.read_csv('dog-vacay.csv', sep='\t')

In [265]:
df.head()

,city,fee,ratings,repeat,response_time,review,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff,services
0,"Phoenix, Arizona",35,5,8,1,26,1,0,1,0,0,0,0,0,0,2
1,"Phoenix, Arizona",35,5,16,2,30,1,0,0,1,0,0,0,0,1,3
2,"Phoenix, Arizona",35,0,0,1,0,1,0,1,1,1,0,0,0,0,4
3,"Phoenix, Arizona",38,5,2,3,3,1,0,1,1,1,0,0,0,0,4
4,"Phoenix, Arizona",25,5,1,1,5,1,0,0,1,1,1,0,0,0,4

In [217]:
#Drop columns
#df.drop(['Intercept'], axis=1, inplace=True)
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [219]:
dfTrain, dfTest = train_test_split(df, test_size=0.1, random_state=0)

In [220]:
dfTrain = pd.DataFrame(train, columns=df.columns)
dfTest = pd.DataFrame(test, columns=df.columns)

In [277]:
dfTrain['fee35'] = df['fee'].map(lambda x: 1 if x > 35 else 0)
dfTest['fee35'] = df['fee'].map(lambda x: 1 if x > 35 else 0)

In [278]:
cols = ['repeat', 'review']

In [283]:
x = dfTrain[cols]
y = dfTrain['fee35']

In [302]:
#Define the logistic regression model.
model = sm.Logit(dfTrain['fee35'],dfTrain[cols])

In [303]:
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.689537
         Iterations 4

In [304]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  fee35   No. Observations:                  471
Model:                          Logit   Df Residuals:                      469
Method:                           MLE   Df Model:                            1
Date:                Sun, 09 Aug 2015   Pseudo R-squ.:                0.005051
Time:                        20:19:15   Log-Likelihood:                -324.77
converged:                       True   LL-Null:                       -326.42
                                        LLR p-value:                   0.06940
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
repeat        -0.0083      0.035     -0.235      0.814        -0.078     0.061
review        -0.0058      0.019     -0.304      0.761        -0.043     0.031
==============================================================================
"""

In [305]:
def logistic_function(repeat, review):
    prob = 1/(1 + math.exp(coeff[0]*repeat+coeff[1]*review))
    return prob

In [316]:
logistic_function(4, 20)

0.5369996451495558

In [317]:
dfTest['predict'] = result.predict(dfTest[cols])

In [318]:
dfTest.head()

,city,fee,ratings,repeat,response_time,review,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff,services,fee35,predict
0,"Phoenix, Arizona",35,5,8,1,26,1,0,1,0,0,0,0,0,0,2,0,0.446201
1,"Phoenix, Arizona",35,5,16,2,30,1,0,0,1,0,0,0,0,1,3,0,0.424200
2,"Phoenix, Arizona",35,0,0,1,0,1,0,1,1,1,0,0,0,0,4,0,0.500000
3,"Phoenix, Arizona",38,5,2,3,3,1,0,1,1,1,0,0,0,0,4,1,0.491530
4,"Phoenix, Arizona",25,5,1,1,5,1,0,0,1,1,1,0,0,0,4,0,0.490734