In [53]:
#What is the probability of $35/night with 4 repeat 
#guests and 20 reviews?

In [77]:
import pandas as pd
import statsmodels.api as sm
import math
import numpy as np
from sklearn.cross_validation import train_test_split

In [24]:
df = pd.read_csv('dog-vacay.csv', sep='\t')

In [75]:
df.head()

,city,fee,ratings,repeat,response_time,review,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff,services
0,"Phoenix, Arizona",35,5,8,1,26,1,0,1,0,0,0,0,0,0,2
1,"Phoenix, Arizona",35,5,16,2,30,1,0,0,1,0,0,0,0,1,3
2,"Phoenix, Arizona",35,0,0,1,0,1,0,1,1,1,0,0,0,0,4
3,"Phoenix, Arizona",38,5,2,3,3,1,0,1,1,1,0,0,0,0,4
4,"Phoenix, Arizona",25,5,1,1,5,1,0,0,1,1,1,0,0,0,4

In [74]:
#Drop columns
#df.drop(['Intercept'], axis=1, inplace=True)
#df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [30]:
df['fee35'] = df['fee'].map(lambda x: 1 if x > 35 else 0)

In [31]:
ind_vars = ['repeat', 'review']

In [14]:
#Define the logistic regression model.
logit = sm.Logit(df['fee35'], df[ind_vars])

In [15]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.691201
         Iterations 4

In [32]:
coeff = result.params
print coeff

repeat   -0.021480
review    0.005433
dtype: float64

In [44]:
coeff[0]

-0.02147971046881797

In [53]:
def logistic_function(repeat, review):
    prob = 1/(1 + math.exp(coeff[0]*repeat+coeff[1]*review))
    return prob

In [60]:
logistic_function(4, 20)

0.49431251013823707

In [83]:
cols = df.columns.tolist()
cols = cols[:-1]
df = df[cols]

In [84]:
dfTrain, dfTest = train_test_split(df, test_size=0.1, random_state=0)

In [85]:
dfTest

array([['Los Angeles, California', 40.0, 5.0, ..., 0, 0, 0],
       ['Los Angeles, California', 25.0, 0.0, ..., 0, 0, 0],
       ['Atlanta, Georgia', 30.0, 5.0, ..., 0, 0, 0],
       ...,
       ['Washington, District Of Columbia', 35.0, 5.0, ..., 0, 0, 0],
       ['Los Angeles, California', 25.0, 5.0, ..., 0, 0, 1],
       ['Boston, Massachusetts', 30.0, 5.0, ..., 0, 0, 0]], dtype=object)