In [ ]:
#Analysis of DogVacay host names

In [38]:
import requests
import pandas as pd
import sqlite3 as lite
import numpy as np
import statsmodels.api as sm
from collections import Counter
import itertools
import re
import difflib
import keyword

In [39]:
df = pd.read_csv('dog-vacay.csv')

In [40]:
df.shape

(4662, 18)

In [41]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [42]:
#df.head()

In [43]:
#Split host names into words
df['names'] = df['names'].apply(lambda x: str(x).split())

In [44]:
#Combine all words into one list
list_ = df['names'].tolist()
merged_list = list(itertools.chain(*list_))

In [45]:
#Add occurrence of word to list w Counter
namecount = list(Counter(merged_list).items())

In [46]:
#Create dataframe
hostnames = pd.DataFrame(namecount)

In [47]:
#Add column names
hostnames.columns = ['word', 'occurrence']

In [48]:
#Sort
hostnames.sort('occurrence', ascending=False)

                 word  occurrence
2472              Dog         557
137              Home         333
3720              Pet         316
787             Puppy         290
779                in         286
3459                &         264
1603              and         244
937               for         222
2431             Your         221
2938             Care         205
2758              The         190
4246           Doggie         190
1483            Doggy         169
2084             your         165
1591             Love         165
2055               of         152
857             Happy         152
3825             Paws         146
833               the         145
247                 A         131
541               dog         130
561          Paradise         126
639              Dogs         120
715           Sitting         110
4156             home         108
2122             with         101
2482                a         100
98                Pup          98
3457             from          97
4053           Loving          93
...               ...         ...
1913            Daves           1
1914          Keepers           1
1916               IN           1
1918          walker.           1
1919          dog/pup           1
1881              Bee           1
1877              DIA           1
1876              Oak           1
1855       BestFriend           1
1843        Pancakes'           1
1844          Tessa's           1
1845             -ALL           1
1849        PAWsitive           1
1850          Member!           1
1851            HARTE           1
1852           PupPup           1
1853            Eve's           1
1854      Everything!           1
1856         Home....           1
1874         Dogtopia           1
1857          romping           1
1858          School!           1
1859  Doggiemania,LLC           1
1860          Lover!!           1
1862            care!           1
1868  Doglife-cuddles           1
1869            care)           1
1872            Slice           1
1873      PAWSitively           1
4341     Doggie/Kitty           1

[4342 rows x 2 columns]

In [ ]:
#In-progress: Clean data
#Remove prepositions, symbols, etc.

In [17]:
#df = df[df.name != 'Tina']
hostnames = hostnames[(hostnames.word != 'in') & 
                  (hostnames.word != '&') & 
                  (hostnames.word != 'and') & 
                  (hostnames.word != 'for') & 
                  (hostnames.word != 'The') & 
                  (hostnames.word != 'of') & 
                  (hostnames.word != 'a') & 
                  (hostnames.word != 'A') &
                  (hostnames.word != 'A') &
                  (hostnames.word != 'with') &
                  (hostnames.word != 'from') &
                  (hostnames.word != 'to') &
                  (hostnames.word != 'Your') &
                  (hostnames.word != 'your') &
                  (hostnames.word != 'the')]

In [19]:
#hostnames.sort('occurrence', ascending=False)

In [20]:
#Find similar words
difflib.get_close_matches('Dog', hostnames.word)

['Dog', 'Dogs', 'Doge']

In [ ]:
#Review Quartiles

In [21]:
#25%, 50%, 75% tiers based on reviews
df['tierreview'] = df['review'].map(lambda x: 1 if x<=3 else 2 if 3<x<=10 else 3)

In [22]:
#df.describe()

In [23]:
df.groupby('tierreview').mean()

,fee,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
tierreview,,,,,,,,,,,,,,,
1,39.879304,2.160155,0.352418,1.558607,0.753191,3.135397,0.921083,0.373308,0.601161,0.422050,0.457640,0.141973,0.027853,0.008124,0.182205
2,37.473970,4.971800,3.065076,1.583514,6.494577,3.191974,0.967462,0.360087,0.651844,0.437093,0.368764,0.163774,0.027115,0.015184,0.200651
3,36.952381,4.986147,16.211255,1.633766,32.712554,3.199134,0.991342,0.286580,0.705628,0.446753,0.311688,0.173160,0.031169,0.013853,0.238961

In [ ]:
#In-progress: What words used by the 3 tiers of reviews?

In [24]:
tier3 = df[df.tierreview == 3]
tier2 = df[df.tierreview == 2]
tier1 = df[df.tierreview == 1]

In [25]:
namelist3 = tier3['names']
tier3_list = list(itertools.chain(*namelist3))
namelist2 = tier2['names']
tier2_list = list(itertools.chain(*namelist2))
namelist1 = tier1['names']
tier1_list = list(itertools.chain(*namelist1))

In [26]:
d3 = list(Counter(tier3_list).items())
dfnames3 = pd.DataFrame(d3)
dfnames3.columns = ['word', 'occurrence']
#dfnames3.sort('occurrence', ascending=False)

In [27]:
#df = df[df.name != 'Tina']
dfnames3 = dfnames3[(dfnames3.word != 'in') & 
                  (dfnames3.word != '&') & 
                  (dfnames3.word != 'and') & 
                  (dfnames3.word != 'for') & 
                  (dfnames3.word != 'The') & 
                  (dfnames3.word != 'of') & 
                  (dfnames3.word != 'a') & 
                  (dfnames3.word != 'A') &
                  (dfnames3.word != 'A') &
                  (dfnames3.word != 'with') &
                  (dfnames3.word != 'from') &
                  (dfnames3.word != 'to') &
                  (dfnames3.word != 'Your') &
                  (dfnames3.word != 'your') &
                  (dfnames3.word != 'the')]

In [28]:
dfnames3.sort('occurrence', ascending=False).head(10)

        word  occurrence
910      Dog         123
55      Home         119
1367     Pet          91
1080    Care          70
1558  Doggie          62
298    Puppy          48
1408    Paws          44
585     Love          44
325    Happy          40
551    Doggy          39

In [29]:
intercept = (dfnames3['occurrence'])/1600
dfnames3['intercept'] = intercept
dfnames3.sort('occurrence', ascending=False)

                word  occurrence  intercept
910              Dog         123   0.076875
55              Home         119   0.074375
1367             Pet          91   0.056875
1080            Care          70   0.043750
1558          Doggie          62   0.038750
298            Puppy          48   0.030000
1408            Paws          44   0.027500
585             Love          44   0.027500
325            Happy          40   0.025000
551            Doggy          39   0.024375
236             Dogs          38   0.023750
215         Paradise          36   0.022500
766             Away          33   0.020625
1542         Sitting          29   0.018125
14           Retreat          27   0.016875
310           Canine          25   0.015625
207              dog          24   0.015000
790            House          21   0.013125
1523            home          21   0.013125
194                -          21   0.013125
1487          Loving          20   0.012500
1343            From          20   0.012500
1075            Play          20   0.012500
775            Hotel          19   0.011875
1056            Park          19   0.011875
799             Pups          18   0.011250
239             away          18   0.011250
176              Fun          18   0.011250
488              Bed          17   0.010625
1505           Lover          17   0.010625
...              ...         ...        ...
632          2-story           1   0.000625
630         Service!           1   0.000625
629         Service,           1   0.000625
628         Island's           1   0.000625
627     Paws-itively           1   0.000625
625                H           1   0.000625
623              get           1   0.000625
621        VetTech's           1   0.000625
620             only           1   0.000625
615               WA           1   0.000625
643           Suzi's           1   0.000625
645        Barkfest!           1   0.000625
667      Stay-cation           1   0.000625
646           Fur'st           1   0.000625
664             'The           1   0.000625
663   'Churro'cation           1   0.000625
662          Smiling           1   0.000625
661         Mesquite           1   0.000625
660             Give           1   0.000625
659           Happy,           1   0.000625
657           Dizzie           1   0.000625
656          honest,           1   0.000625
655              FOR           1   0.000625
654       WoofTastic           1   0.000625
653           McLean           1   0.000625
652             Than           1   0.000625
651          Tomball           1   0.000625
649             That           1   0.000625
648           parent           1   0.000625
802           luna's           1   0.000625

[1586 rows x 3 columns]

In [30]:
d2 = list(Counter(tier2_list).items())
dfnames2 = pd.DataFrame(d2)
dfnames2.columns = ['word', 'occurrence']
#dfnames2.sort('occurrence', ascending=False)

In [31]:
#df = df[df.name != 'Tina']
dfnames2 = dfnames2[(dfnames2.word != 'in') & 
                  (dfnames2.word != '&') & 
                  (dfnames2.word != 'and') & 
                  (dfnames2.word != 'for') & 
                  (dfnames2.word != 'The') & 
                  (dfnames2.word != 'of') & 
                  (dfnames2.word != 'a') & 
                  (dfnames2.word != 'A') &
                  (dfnames2.word != 'A') &
                  (dfnames2.word != 'with') &
                  (dfnames2.word != 'from') &
                  (dfnames2.word != 'Your') &
                  (dfnames2.word != 'your') &
                  (dfnames2.word != 'the')]

In [32]:
dfnames2.sort('occurrence', ascending=False).head(10)

        word  occurrence
284      Dog         119
747      Pet          68
150     Home          51
575    Puppy          51
1225  Doggie          46
883     Care          38
1033   Happy          37
644     Paws          35
635      dog          31
536     Love          29

In [33]:
d1 = list(Counter(tier1_list).items())
dfnames1 = pd.DataFrame(d1)
dfnames1.columns = ['word', 'occurrence']

In [34]:
#df = df[df.name != 'Tina']
dfnames1 = dfnames1[(dfnames1.word != 'in') & 
                  (dfnames1.word != '&') & 
                  (dfnames1.word != 'and') & 
                  (dfnames1.word != 'for') & 
                  (dfnames1.word != 'The') & 
                  (dfnames1.word != 'of') & 
                  (dfnames1.word != 'a') & 
                  (dfnames1.word != 'A') &
                  (dfnames1.word != 'A') &
                  (dfnames1.word != 'with') &
                  (dfnames1.word != 'from') &
                  (dfnames1.word != 'to') &
                  (dfnames1.word != 'Your') &
                  (dfnames1.word != 'your') &
                  (dfnames1.word != 'the')]

In [35]:
dfnames1.sort('occurrence', ascending=False).head(10)

        word  occurrence
1633     Dog         315
1054   Puppy         191
89      Home         163
2445     Pet         157
956    Doggy         103
1926    Care          97
1034    Love          92
2795  Doggie          82
560    Happy          75
347      dog          75

In [36]:
dfcombine = pd.concat([p1, p2, p3], axis=1, ignore_index=True)
dfcombine.columns = ['word', 'occurrence1', 'word', 'occurrence2', 'word', 'occurrence3']
#dfcombine.sort(['occurrence1', 'occurrence2', 'occurrence3'], ascending=[False, False, False])
dfcombine

NameError: name 'p1' is not defined