In [53]:
#What is the probability of $35/night with 4 repeat 
#guests and 20 reviews?

In [54]:
import pandas as pd
import statsmodels.api as sm
import math

In [55]:
df = pd.read_csv('dog-vacay.csv', sep='\t')

In [56]:
df.head()

,Unnamed: 0,city,fee,ratings,repeat,response_time,review,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff,services,repeat5,Intercept
0,0,"Phoenix, Arizona",35,5,8,1,26,1,0,1,0,0,0,0,0,0,2,1,1
1,1,"Phoenix, Arizona",35,5,16,2,30,1,0,0,1,0,0,0,0,1,3,1,1
2,2,"Phoenix, Arizona",35,0,0,1,0,1,0,1,1,1,0,0,0,0,4,0,1
3,3,"Phoenix, Arizona",38,5,2,3,3,1,0,1,1,1,0,0,0,0,4,0,1
4,4,"Phoenix, Arizona",25,5,1,1,5,1,0,0,1,1,1,0,0,0,4,0,1

In [57]:
df['fee35'] = df['fee'].map(lambda x: 1 if x > 35 else 0)

In [58]:
intercept = [1] * len(df)
df['Intercept'] = intercept

In [59]:
ind_vars = ['Intercept','repeat', 'review']

In [60]:
#Define the logistic regression model.
logit = sm.Logit(df['fee35'], df[ind_vars])

In [61]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.689735
         Iterations 4

In [62]:
coeff = result.params
print coeff

Intercept    0.122467
repeat      -0.024597
review       0.004224
dtype: float64

In [63]:
def logistic_function(repeat, review):
    prob = 1/(1 + math.exp(coeff[0] + coeff[2]*repeat+coeff[1]*review))
    return prob

In [66]:
logistic_function(4, 20)

0.5872443906590514