In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import math
from sklearn.cross_validation import train_test_split #Split arrays or matrices into random train and test subsets
from sklearn.neighbors import KNeighborsClassifier

In [2]:
housingData = pd.read_excel('rollingsales_manhattan.xls', skiprows=4)

In [39]:
housingData[0:5]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,400,19,,A4,526 EAST 5TH STREET,,...,1,0,1,1883,5200,1900,1,A4,6500000,2015-03-18
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,1,1,2,1400,1839,1901,1,S1,0,2014-12-05
2,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,3,0,3,2381,3084,1899,1,C0,2900000,2014-11-26
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,8,2,10,2650,7620,1920,2,C7,0,2014-07-18
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,373,63,,C3,285 EAST 3RD STREET,,...,4,0,4,2084,2917,1900,2,C3,3100000,2014-08-05

In [37]:
a = pd.scatter_matrix(housingData, alpha=0.05, figsize=(10,10))

/Users/Ryan/anaconda/lib/python2.7/site-packages/matplotlib/axes/_base.py:2562: UserWarning: Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=1.0, right=1.0
  'left=%s, right=%s') % (left, right))
/Users/Ryan/anaconda/lib/python2.7/site-packages/matplotlib/axes/_base.py:2809: UserWarning: Attempting to set identical bottom==top results
in singular transformations; automatically expanding.
bottom=1.0, top=1.0
  'bottom=%s, top=%s') % (bottom, top))

In [4]:
housingData['SALE PRICE'].mean()

3384110.0909558069

In [70]:
#SALE PRICE = b + a1(YEAR BUILT) + a2(LAND SQUARE FEET)
saleprice = housingData['SALE PRICE']
yearbuilt = housingData['YEAR BUILT']
landsqft = housingData['LAND SQUARE FEET']
units = housingData['TOTAL UNITS']
block = housingData['BLOCK']
grssqft = housingData['GROSS SQUARE FEET']
zipcode = housingData['ZIP CODE']

In [72]:
# The dependent variable
y = np.matrix(saleprice).transpose()
# The independent variables shaped as columns
x1 = np.matrix(yearbuilt).transpose()
x2 = np.matrix(landsqft).transpose()
x3 = np.matrix(units).transpose()
x4 = np.matrix(block).transpose()
x5 = np.matrix(grssqft).transpose()
x6 = np.matrix(zipcode).transpose()

In [77]:
x = np.column_stack([x3, x5])

In [78]:
X = sm.add_constant(x)
model = sm.OLS(y,X)
f = model.fit()

In [79]:
f.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.391
Model:                            OLS   Adj. R-squared:                  0.391
Method:                 Least Squares   F-statistic:                     6880.
Date:                Mon, 06 Jul 2015   Prob (F-statistic):               0.00
Time:                        21:00:54   Log-Likelihood:            -3.9995e+05
No. Observations:               21406   AIC:                         7.999e+05
Df Residuals:                   21403   BIC:                         7.999e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const       1.142e+06   2.17e+05      5.257      0.000      7.16e+05  1.57e+06
x1          1.563e+05   5862.601     26.658      0.000      1.45e+05  1.68e+05
x2           198.1872      4.847     40.885      0.000       188.686   207.688
==============================================================================
Omnibus:                    64126.007   Durbin-Watson:                   1.839
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       6456703470.795
Skew:                          43.613   Prob(JB):                         0.00
Kurtosis:                    2692.149   Cond. No.                     8.16e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.16e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [99]:
housingData['High_price'] = housingData['SALE PRICE'].map(lambda x: 1 if x > 10000000 else 0)

In [130]:
housingData[0:5]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,High_price,Intercept
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,400,19,,A4,526 EAST 5TH STREET,,...,1,1883,5200,1900,1,A4,6500000,2015-03-18,0,1
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,2,1400,1839,1901,1,S1,0,2014-12-05,0,1
2,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,3,2381,3084,1899,1,C0,2900000,2014-11-26,0,1
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,10,2650,7620,1920,2,C7,0,2014-07-18,0,1
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,373,63,,C3,285 EAST 3RD STREET,,...,4,2084,2917,1900,2,C3,3100000,2014-08-05,0,1

In [101]:
intercept = [1] * len(housingData)
housingData['Intercept'] = intercept

In [102]:
ind_vars = ['Intercept','TOTAL UNITS','GROSS SQUARE FEET']

In [103]:
df = housingData

In [104]:
logit = sm.Logit(df['High_price'], df[ind_vars])

In [90]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.150949
         Iterations 8

In [91]:
coeff = result.params
print coeff

Intercept           -3.395137
TOTAL UNITS          0.017833
GROSS SQUARE FEET    0.000003
dtype: float64

In [106]:
def logistic_function(units, grssqft):
    prob = 1/(1 + math.exp(coeff[0] + coeff[2]*units+coeff[1]*grssqft))
    if prob > 0.7:
        p = 1
    else:
        p = 0
    return prob, p

In [109]:
logistic_function(5,100)

(0.8336581064478015, 1)

In [119]:
housingData_original = pd.read_excel('rollingsales_manhattan.xls', skiprows=4)

In [120]:
housingData_original[0:5]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,400,19,,A4,526 EAST 5TH STREET,,...,1,0,1,1883,5200,1900,1,A4,6500000,2015-03-18
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,1,1,2,1400,1839,1901,1,S1,0,2014-12-05
2,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,3,0,3,2381,3084,1899,1,C0,2900000,2014-11-26
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,8,2,10,2650,7620,1920,2,C7,0,2014-07-18
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,373,63,,C3,285 EAST 3RD STREET,,...,4,0,4,2084,2917,1900,2,C3,3100000,2014-08-05

In [121]:
df1 = housingData_original

In [122]:
df1Train, df1Test = train_test_split(df, test_size=.2) #the proportion of the dataset to include in the test split.

In [123]:
df1Train

array([[1, u'UPPER WEST SIDE (79-96)  ',
        u'10  COOPS - ELEVATOR APARTMENTS             ', ...,
        Timestamp('2014-09-25 00:00:00'), 0, 1],
       [1, u'GREENWICH VILLAGE-WEST   ',
        u'13  CONDOS - ELEVATOR APARTMENTS            ', ...,
        Timestamp('2014-06-12 00:00:00'), 0, 1],
       [1, u'UPPER WEST SIDE (79-96)  ',
        u'10  COOPS - ELEVATOR APARTMENTS             ', ...,
        Timestamp('2014-11-19 00:00:00'), 0, 1],
       ...,
       [1, u'UPPER EAST SIDE (79-96)  ',
        u'07  RENTALS - WALKUP APARTMENTS             ', ...,
        Timestamp('2014-09-09 00:00:00'), 0, 1],
       [1, u'UPPER EAST SIDE (79-96)  ',
        u'13  CONDOS - ELEVATOR APARTMENTS            ', ...,
        Timestamp('2014-08-11 00:00:00'), 0, 1],
       [1, u'UPPER WEST SIDE (79-96)  ',
        u'10  COOPS - ELEVATOR APARTMENTS             ', ...,
        Timestamp('2014-10-14 00:00:00'), 0, 1]], dtype=object)

In [124]:
cl = df1Train[:,1] # this is the subset of labels for the training set
cl

array([u'UPPER WEST SIDE (79-96)  ', u'GREENWICH VILLAGE-WEST   ',
       u'UPPER WEST SIDE (79-96)  ', ..., u'UPPER EAST SIDE (79-96)  ',
       u'UPPER EAST SIDE (79-96)  ', u'UPPER WEST SIDE (79-96)  '], dtype=object)

In [129]:
# subset of labels for the test set, we're withholding these
true_labels = df1Test[:,1]
true_labels

array([u'UPPER EAST SIDE (79-96)  ', u'SOHO                     ',
       u'CLINTON                  ', ..., u'UPPER EAST SIDE (59-79)  ',
       u'MIDTOWN WEST             ', u'HARLEM-CENTRAL           '], dtype=object)

In [126]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(df1Train[:,:2], df1Train[:,2])

ValueError: could not convert string to float: UPPER WEST SIDE (79-96)