In [67]:
import requests
import datetime
import sqlite3 as lite
import pandas as pd
import matplotlib.pyplot as plt
import collections

In [68]:
cities = {"Austin": '30.303936,-97.754355', "Boston": '42.331960,-71.020173', "New_York": '40.663619,-73.938589', "Philadelphia": '40.009376,-75.133346', "Seattle": '47.620499,-122.350876'}

In [69]:
APIKEY = 'dc6b130f33e13a20201deb99ea5d59c1'

In [70]:
#connect to db
con = lite.connect('weather.db')
cur = con.cursor()

In [71]:
#From text - get start date and iterate until the present day
start_date = datetime.datetime.now()-datetime.timedelta(days=30)

In [72]:
start_date = datetime.datetime.now()-datetime.timedelta(days=30)
start_date = start_date.replace(minute=0, hour=0, second=0, microsecond=0)
total_start_date = start_date

In [73]:
#https://api.forecast.io/forecast/APIKEY/LATITUDE,LONGITUDE,TIME
url = 'https://api.forecast.io/forecast/' + APIKEY

In [86]:
#Example 
#Austin = 'https://api.forecast.io/forecast/dc6b130f33e13a20201deb99ea5d59c1/30.303936,-97.754355'

In [87]:
#Test
#r = requests.get("https://api.forecast.io/forecast/dc6b130f33e13a20201deb99ea5d59c1/30.303936,-97.754355")

In [9]:
r.status_code

NameError: name 'r' is not defined

In [15]:
r.json().keys()

[u'hourly',
 u'currently',
 u'longitude',
 u'flags',
 u'daily',
 u'offset',
 u'latitude',
 u'timezone',
 u'minutely']

In [98]:
#query = "DROP TABLE daily_temp"
#cur.execute(query)

In [15]:
#Create table
with con:
    cur.execute('CREATE TABLE daily_temp ( day INT, Austin REAL, Boston REAL, New_York REAL, Philadelphia REAL, Seattle REAL)')

In [16]:
cur.execute(query)

NameError: name 'query' is not defined

In [17]:
with con:
    while start_date<datetime.datetime.now():
        cur.execute('INSERT INTO daily_temp (day) VALUES (?)', (int(start_date.strftime('%s')),)) #inserting the time in Unix time 
        start_date += datetime.timedelta(days=1)

In [18]:
for k, v in cities.iteritems():
    start_date = total_start_date
    while start_date < datetime.datetime.now():
        #query for the value
        r = requests.get(url + '/' + v + ',' + start_date.strftime('%Y-%m-%dT12:00:00')) # insert url+lat/long+time
        #insert temperatureMax into the db
        with con:
            query = 'UPDATE daily_temp SET ' + k + '=' + str(r.json()['daily']['data'][0]['temperatureMax']) + ' WHERE day = ' + start_date.strftime('%s')
            print query
            cur.execute(query)
        
        #increment query_date to the next day for next operation of loop
        start_date += datetime.timedelta(days=1) #increment query_date to the next day

con.close() # a good practice to close connection to database

UPDATE daily_temp SET New_York=66.2 WHERE day = 1432357200
UPDATE daily_temp SET New_York=73.86 WHERE day = 1432443600
UPDATE daily_temp SET New_York=81.01 WHERE day = 1432530000
UPDATE daily_temp SET New_York=80.62 WHERE day = 1432616400
UPDATE daily_temp SET New_York=75.45 WHERE day = 1432702800
UPDATE daily_temp SET New_York=79.01 WHERE day = 1432789200
UPDATE daily_temp SET New_York=78.62 WHERE day = 1432875600
UPDATE daily_temp SET New_York=77.81 WHERE day = 1432962000
UPDATE daily_temp SET New_York=78.03 WHERE day = 1433048400
UPDATE daily_temp SET New_York=60.37 WHERE day = 1433134800
UPDATE daily_temp SET New_York=54.83 WHERE day = 1433221200
UPDATE daily_temp SET New_York=63.27 WHERE day = 1433307600
UPDATE daily_temp SET New_York=63.34 WHERE day = 1433394000
UPDATE daily_temp SET New_York=63.06 WHERE day = 1433480400
UPDATE daily_temp SET New_York=74.94 WHERE day = 1433566800
UPDATE daily_temp SET New_York=67.92 WHERE day = 1433653200
UPDATE daily_temp SET New_York=73.69 WHERE day = 1433739600
UPDATE daily_temp SET New_York=76.13 WHERE day = 1433826000
UPDATE daily_temp SET New_York=76.18 WHERE day = 1433912400
UPDATE daily_temp SET New_York=84.84 WHERE day = 1433998800
UPDATE daily_temp SET New_York=81.78 WHERE day = 1434085200
UPDATE daily_temp SET New_York=81.53 WHERE day = 1434171600
UPDATE daily_temp SET New_York=80.86 WHERE day = 1434258000
UPDATE daily_temp SET New_York=76.09 WHERE day = 1434344400
UPDATE daily_temp SET New_York=74.78 WHERE day = 1434430800
UPDATE daily_temp SET New_York=75.93 WHERE day = 1434517200
UPDATE daily_temp SET New_York=69.06 WHERE day = 1434603600
UPDATE daily_temp SET New_York=82.44 WHERE day = 1434690000
UPDATE daily_temp SET New_York=72.69 WHERE day = 1434776400
UPDATE daily_temp SET New_York=85.89 WHERE day = 1434862800
UPDATE daily_temp SET New_York=84.2 WHERE day = 1434949200
UPDATE daily_temp SET Boston=63.25 WHERE day = 1432357200
UPDATE daily_temp SET Boston=80.5 WHERE day = 1432443600
UPDATE daily_temp SET Boston=78.12 WHERE day = 1432530000
UPDATE daily_temp SET Boston=83.62 WHERE day = 1432616400
UPDATE daily_temp SET Boston=82.63 WHERE day = 1432702800
UPDATE daily_temp SET Boston=83.03 WHERE day = 1432789200
UPDATE daily_temp SET Boston=70.5 WHERE day = 1432875600
UPDATE daily_temp SET Boston=84.3 WHERE day = 1432962000
UPDATE daily_temp SET Boston=75.84 WHERE day = 1433048400
UPDATE daily_temp SET Boston=49.24 WHERE day = 1433134800
UPDATE daily_temp SET Boston=49.03 WHERE day = 1433221200
UPDATE daily_temp SET Boston=54.06 WHERE day = 1433307600
UPDATE daily_temp SET Boston=56.12 WHERE day = 1433394000
UPDATE daily_temp SET Boston=57.81 WHERE day = 1433480400
UPDATE daily_temp SET Boston=64.8 WHERE day = 1433566800
UPDATE daily_temp SET Boston=65.72 WHERE day = 1433653200
UPDATE daily_temp SET Boston=74.06 WHERE day = 1433739600
UPDATE daily_temp SET Boston=73.04 WHERE day = 1433826000
UPDATE daily_temp SET Boston=77.88 WHERE day = 1433912400
UPDATE daily_temp SET Boston=83.05 WHERE day = 1433998800
UPDATE daily_temp SET Boston=77.39 WHERE day = 1434085200
UPDATE daily_temp SET Boston=77.63 WHERE day = 1434171600
UPDATE daily_temp SET Boston=70.82 WHERE day = 1434258000
UPDATE daily_temp SET Boston=63.11 WHERE day = 1434344400
UPDATE daily_temp SET Boston=68.25 WHERE day = 1434430800
UPDATE daily_temp SET Boston=67.25 WHERE day = 1434517200
UPDATE daily_temp SET Boston=72.06 WHERE day = 1434603600
UPDATE daily_temp SET Boston=79.6 WHERE day = 1434690000
UPDATE daily_temp SET Boston=70.32 WHERE day = 1434776400
UPDATE daily_temp SET Boston=73.5 WHERE day = 1434862800
UPDATE daily_temp SET Boston=77.04 WHERE day = 1434949200
UPDATE daily_temp SET Seattle=60.03 WHERE day = 1432357200
UPDATE daily_temp SET Seattle=60.77 WHERE day = 1432443600
UPDATE daily_temp SET Seattle=59.77 WHERE day = 1432530000
UPDATE daily_temp SET Seattle=64.88 WHERE day = 1432616400
UPDATE daily_temp SET Seattle=70.3 WHERE day = 1432702800
UPDATE daily_temp SET Seattle=75.41 WHERE day = 1432789200
UPDATE daily_temp SET Seattle=71.85 WHERE day = 1432875600
UPDATE daily_temp SET Seattle=67.36 WHERE day = 1432962000
UPDATE daily_temp SET Seattle=68.29 WHERE day = 1433048400
UPDATE daily_temp SET Seattle=60.52 WHERE day = 1433134800
UPDATE daily_temp SET Seattle=60.98 WHERE day = 1433221200
UPDATE daily_temp SET Seattle=62.44 WHERE day = 1433307600
UPDATE daily_temp SET Seattle=66.87 WHERE day = 1433394000
UPDATE daily_temp SET Seattle=73.16 WHERE day = 1433480400
UPDATE daily_temp SET Seattle=77.2 WHERE day = 1433566800
UPDATE daily_temp SET Seattle=81.74 WHERE day = 1433653200
UPDATE daily_temp SET Seattle=78.71 WHERE day = 1433739600
UPDATE daily_temp SET Seattle=79.37 WHERE day = 1433826000
UPDATE daily_temp SET Seattle=76.27 WHERE day = 1433912400
UPDATE daily_temp SET Seattle=72.02 WHERE day = 1433998800
UPDATE daily_temp SET Seattle=65.93 WHERE day = 1434085200
UPDATE daily_temp SET Seattle=71.9 WHERE day = 1434171600
UPDATE daily_temp SET Seattle=76.61 WHERE day = 1434258000
UPDATE daily_temp SET Seattle=80.48 WHERE day = 1434344400
UPDATE daily_temp SET Seattle=70.79 WHERE day = 1434430800
UPDATE daily_temp SET Seattle=73.46 WHERE day = 1434517200
UPDATE daily_temp SET Seattle=74.28 WHERE day = 1434603600
UPDATE daily_temp SET Seattle=71.23 WHERE day = 1434690000
UPDATE daily_temp SET Seattle=73.88 WHERE day = 1434776400
UPDATE daily_temp SET Seattle=77.24 WHERE day = 1434862800
UPDATE daily_temp SET Seattle=73.19 WHERE day = 1434949200
UPDATE daily_temp SET Austin=84.65 WHERE day = 1432357200
UPDATE daily_temp SET Austin=80.95 WHERE day = 1432443600
UPDATE daily_temp SET Austin=81.39 WHERE day = 1432530000
UPDATE daily_temp SET Austin=88.14 WHERE day = 1432616400
UPDATE daily_temp SET Austin=84.22 WHERE day = 1432702800
UPDATE daily_temp SET Austin=86.05 WHERE day = 1432789200
UPDATE daily_temp SET Austin=88.51 WHERE day = 1432875600
UPDATE daily_temp SET Austin=85.5 WHERE day = 1432962000
UPDATE daily_temp SET Austin=84.99 WHERE day = 1433048400
UPDATE daily_temp SET Austin=86.62 WHERE day = 1433134800
UPDATE daily_temp SET Austin=87.9 WHERE day = 1433221200
UPDATE daily_temp SET Austin=88.7 WHERE day = 1433307600
UPDATE daily_temp SET Austin=88.08 WHERE day = 1433394000
UPDATE daily_temp SET Austin=88.7 WHERE day = 1433480400
UPDATE daily_temp SET Austin=89.45 WHERE day = 1433566800
UPDATE daily_temp SET Austin=89.79 WHERE day = 1433653200
UPDATE daily_temp SET Austin=91.86 WHERE day = 1433739600
UPDATE daily_temp SET Austin=91.99 WHERE day = 1433826000
UPDATE daily_temp SET Austin=91.67 WHERE day = 1433912400
UPDATE daily_temp SET Austin=91.49 WHERE day = 1433998800
UPDATE daily_temp SET Austin=91.25 WHERE day = 1434085200
UPDATE daily_temp SET Austin=91.96 WHERE day = 1434171600
UPDATE daily_temp SET Austin=84.39 WHERE day = 1434258000
UPDATE daily_temp SET Austin=86.93 WHERE day = 1434344400
UPDATE daily_temp SET Austin=81.15 WHERE day = 1434430800
UPDATE daily_temp SET Austin=85.88 WHERE day = 1434517200
UPDATE daily_temp SET Austin=86.14 WHERE day = 1434603600
UPDATE daily_temp SET Austin=83.58 WHERE day = 1434690000
UPDATE daily_temp SET Austin=81.1 WHERE day = 1434776400
UPDATE daily_temp SET Austin=84.87 WHERE day = 1434862800
UPDATE daily_temp SET Austin=86.66 WHERE day = 1434949200
UPDATE daily_temp SET Philadelphia=71.07 WHERE day = 1432357200
UPDATE daily_temp SET Philadelphia=81.79 WHERE day = 1432443600
UPDATE daily_temp SET Philadelphia=87.04 WHERE day = 1432530000
UPDATE daily_temp SET Philadelphia=88.53 WHERE day = 1432616400
UPDATE daily_temp SET Philadelphia=88.39 WHERE day = 1432702800
UPDATE daily_temp SET Philadelphia=85.37 WHERE day = 1432789200
UPDATE daily_temp SET Philadelphia=87.84 WHERE day = 1432875600
UPDATE daily_temp SET Philadelphia=87.02 WHERE day = 1432962000
UPDATE daily_temp SET Philadelphia=90.55 WHERE day = 1433048400
UPDATE daily_temp SET Philadelphia=74.27 WHERE day = 1433134800
UPDATE daily_temp SET Philadelphia=57.68 WHERE day = 1433221200
UPDATE daily_temp SET Philadelphia=68.49 WHERE day = 1433307600
UPDATE daily_temp SET Philadelphia=67.53 WHERE day = 1433394000
UPDATE daily_temp SET Philadelphia=74.23 WHERE day = 1433480400
UPDATE daily_temp SET Philadelphia=79.28 WHERE day = 1433566800
UPDATE daily_temp SET Philadelphia=76.79 WHERE day = 1433653200
UPDATE daily_temp SET Philadelphia=85.02 WHERE day = 1433739600
UPDATE daily_temp SET Philadelphia=84.1 WHERE day = 1433826000
UPDATE daily_temp SET Philadelphia=82.44 WHERE day = 1433912400
UPDATE daily_temp SET Philadelphia=90.31 WHERE day = 1433998800
UPDATE daily_temp SET Philadelphia=91.89 WHERE day = 1434085200
UPDATE daily_temp SET Philadelphia=85.55 WHERE day = 1434171600
UPDATE daily_temp SET Philadelphia=87.83 WHERE day = 1434258000
UPDATE daily_temp SET Philadelphia=87.22 WHERE day = 1434344400
UPDATE daily_temp SET Philadelphia=86.87 WHERE day = 1434430800
UPDATE daily_temp SET Philadelphia=81.99 WHERE day = 1434517200
UPDATE daily_temp SET Philadelphia=71.54 WHERE day = 1434603600
UPDATE daily_temp SET Philadelphia=84.43 WHERE day = 1434690000
UPDATE daily_temp SET Philadelphia=79.86 WHERE day = 1434776400
UPDATE daily_temp SET Philadelphia=87.79 WHERE day = 1434862800
UPDATE daily_temp SET Philadelphia=87.88 WHERE day = 1434949200

In [66]:
#Fixing No JSON error - added '/' to request
r = url + '/' + v + ',' + (start_date.strftime('%Y-%m-%dT12:00:00'))

In [67]:
r

'https://api.forecast.io/forecast/dc6b130f33e13a20201deb99ea5d59c1/40.663619,-73.938589,2015-05-16T12:00:00'

In [74]:
con = lite.connect('weather.db')
cur = con.cursor()

In [75]:
df = pd.read_sql_query("SELECT * FROM daily_temp ORDER BY day",con,index_col='day')

In [76]:
df

            Austin  Boston  New_York  Philadelphia  Seattle
day
1432357200   84.65   63.25     66.20         71.07    60.03
1432443600   80.95   80.50     73.86         81.79    60.77
1432530000   81.39   78.12     81.01         87.04    59.77
1432616400   88.14   83.62     80.62         88.53    64.88
1432702800   84.22   82.63     75.45         88.39    70.30
1432789200   86.05   83.03     79.01         85.37    75.41
1432875600   88.51   70.50     78.62         87.84    71.85
1432962000   85.50   84.30     77.81         87.02    67.36
1433048400   84.99   75.84     78.03         90.55    68.29
1433134800   86.62   49.24     60.37         74.27    60.52
1433221200   87.90   49.03     54.83         57.68    60.98
1433307600   88.70   54.06     63.27         68.49    62.44
1433394000   88.08   56.12     63.34         67.53    66.87
1433480400   88.70   57.81     63.06         74.23    73.16
1433566800   89.45   64.80     74.94         79.28    77.20
1433653200   89.79   65.72     67.92         76.79    81.74
1433739600   91.86   74.06     73.69         85.02    78.71
1433826000   91.99   73.04     76.13         84.10    79.37
1433912400   91.67   77.88     76.18         82.44    76.27
1433998800   91.49   83.05     84.84         90.31    72.02
1434085200   91.25   77.39     81.78         91.89    65.93
1434171600   91.96   77.63     81.53         85.55    71.90
1434258000   84.39   70.82     80.86         87.83    76.61
1434344400   86.93   63.11     76.09         87.22    80.48
1434430800   81.15   68.25     74.78         86.87    70.79
1434517200   85.88   67.25     75.93         81.99    73.46
1434603600   86.14   72.06     69.06         71.54    74.28
1434690000   83.58   79.60     82.44         84.43    71.23
1434776400   81.10   70.32     72.69         79.86    73.88
1434862800   84.87   73.50     85.89         87.79    77.24
1434949200   86.66   77.04     84.20         87.88    73.19

In [108]:
with con:    

    cur = con.cursor()    
    cur.execute("SELECT MIN(Austin) FROM daily_temp")

    rows = cur.fetchall()

    for row in rows:
        print row

(80.95,)

In [ ]:
#What's the range of temperatures for each city? 
#Whatis the mean temperature for each city? 
#What's the variance? Are there any patterns in the data? 
#Which cities had the largest temperature changes over the time period?

In [58]:
#What's the range of temperatures for each city? 
max(df['Seattle'])-min(df['Seattle'])
a = max(df['Austin'])-min(df['Austin'])
b = max(df['Boston'])-min(df['Boston'])
c = max(df['New_York'])-min(df['New_York'])
d = max(df['Philadelphia'])-min(df['Philadelphia'])
e = max(df['Seattle'])-min(df['Seattle'])
print a, b, c, d, e

16.69 35.27 30.01 34.21 22.82

In [59]:
#Whatis the mean temperature for each city? 
a = df['Austin'].mean()
b = df['Boston'].mean()
c = df['New_York'].mean()
d = df['Philadelphia'].mean()
e = df['Seattle'].mean()
print a, b, c, d, e

86.3912903226 70.5338709677 73.5016129032 80.5087096774 70.5980645161

In [60]:
#What's the variance? 
a = df['Austin'].var()
b = df['Boston'].var()
c = df['New_York'].var()
d = df['Philadelphia'].var()
e = df['Seattle'].var()
print a, b, c, d, e

17.8170182796 99.9583511828 60.0940806452 83.1174649462 49.3529627957

In [61]:
a = df['Austin'].std()
b = df['Boston'].std()
c = df['New_York'].std()
d = df['Philadelphia'].std()
e = df['Seattle'].std()
print a, b, c, d, e

3.37114396206 10.0639469373 7.75000789455 8.1163624195 6.48948469548

In [ ]:
#Just as you did with the Citi Bike data, go through the the sequence 
#of temperature readings and calculate the change between days and
#find the greatest range in high temperatures in the month you measured. 
#Which city had the greatest variation? 
#What is the distribution of the difference? Does the result surprise you? 
#Why or why not?

In [110]:
daily_change = collections.defaultdict(int) #defaultdict should contain integer values
for col in df.columns: # loop through columns in dataframe
    city_vals = df[col].tolist() #creates list of values?
    city_id = col 
    city_change = 0
    for k, v in enumerate(city_vals): 
        if k < len(city_vals) - 1:
            city_change += abs(city_vals[k] - city_vals[k+1])
    daily_change[str(city_id)] = city_change #city_id is str and city_change int is added

In [111]:
daily_change

defaultdict(<type 'int'>, {'New_York': 149.25999999999999, 'Boston': 179.08999999999997, 'Seattle': 113.31999999999998, 'Austin': 63.79000000000002, 'Philadelphia': 156.96999999999997})

In [114]:
daily_change.values()

[149.25999999999999,
 179.08999999999997,
 113.31999999999998,
 63.79000000000002,
 156.96999999999997]

In [58]:
def keywithmaxrange(daily_change):
    # create a list of the dict's keys and values; 
    v = list(daily_change.values())
    k = list(daily_change.keys())

    #return the key with the max range
    return k[v.index(max(v)-min(v))]

# assign the max key to max_city
#max_city = keywithmaxrange(daily_change)