In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "http://web.archive.org/web/20110514112442/http://unstats.un.org/unsd/demographic/products/socind/education.htm"

In [3]:
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.content)

In [5]:
table = soup.find_all('table')[6]
table1 = table.find_all('table')[1].find_all('tr', {'class': 'tcont'})

In [6]:
records = []
for rows in table1:
    col = rows.find_all('td')
    country = col[0].string
    year = col[1].string
    total = col[4].string
    men = col[7].string
    women = col[10].string
    record = (country, year, total, men, women)
    records.append(record)
column_name = ['country', 'year', 'total', 'men', 'women']   
df = pd.DataFrame(records, columns = column_name)

In [7]:
df

                                              country  year total men women
0                                         Afghanistan  2004     8  11     5
1                                             Albania  2004    11  11    11
2                                             Algeria  2005    13  13    13
3                                             Andorra  2008    11  11    12
4                                            Anguilla  2008    11  11    11
5                                             Austria  2008    15  15    15
6                                          Azerbaijan  2008    13  13    13
7                                             Bahrain  2006    14  14    15
8                                          Bangladesh  2007     8   8     8
9                                             Belarus  2007    15  14    15
10                   Bolivia (Plurinational State of)  2007    14  14    14
11                             Bosnia and Herzegovina  2009    14  13    14
12                                           Botswana  2006    12  12    12
13                                             Brazil  2008    14  14    14
14                             British Virgin Islands  2005    17  15    19
15                                           Cameroon  2009    10  11     9
16                                             Canada  2002    16  16    16
17                                         Cape Verde  2009    12  11    12
18                                     Cayman Islands  2008    12  11    12
19                           Central African Republic  2009     7   8     5
20                                           Colombia  2009    14  13    14
21                                            Comoros  2004    11  12    10
22                                              Congo  2003     9  10     8
23                                       Cook Islands  2010    12  12    13
24                                         Costa Rica  2005    12  12    12
25                   Democratic Republic of the Congo  2008     8   9     7
26                                            Denmark  2008    17  16    18
27                                           Djibouti  2007     5   5     4
28                                           Dominica  2008    15  14    15
29                                 Dominican Republic  2004    12  11    13
..                                                ...   ...   ...  ..   ...
63                                            Nigeria  2005     9  10     8
64                                               Niue  2005    13  12    16
65                                             Panama  2008    13  13    14
66                                           Paraguay  2007    12  12    12
67                                               Peru  2006    13  13    14
68                                        Philippines  2008    12  12    12
69                                             Poland  2008    15  15    16
70                                 Russian Federation  2008    14  14    15
71                                             Rwanda  2009    11  11    11
72                                        Saint Lucia  2009    13  13    14
73                   Saint Vincent and the Grenadines  2005    13  13    14
74                                              Samoa  2001    12  12    12
75                                       Sierra Leone  2001     7   9     6
76                                           Slovakia  2008    15  14    16
77                                           Slovenia  2008    17  16    18
78                                    Solomon Islands  2006     9   9     9
79                                              Spain  2008    16  16    17
80                                           Thailand  2009    12  12    13
81                                  TFYR of Macedonia  2008    13  13    13
82                                            Tokelau  2004    13  12    15
83                                              Tonga  2004    14  14    14
84                                Trinidad and Tobago  2005    11  11    12
85                                            Ukraine  2008    15  14    15
86                               United Arab Emirates  2003    11  11    12
87  United Kingdom of Great Britain and Northern I...  2008    16  16    17
88                        United Republic of Tanzania  1999     5   5     5
89                           United States of America  2008    16  15    17
90                                              Yemen  2005     9  11     7
91                                             Zambia  2000     7   8     7
92                                           Zimbabwe  2003     9   9     9

[93 rows x 5 columns]