In [8]:
import pandas as pd

In [9]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

In [12]:
df = df[(df['name'] != 'Tina') & (df['name'] != 'Amy' )]

In [13]:
df

           name  reports  year
Cochice   Jason        4  2012
Pima      Molly       24  2012
Maricopa   Jake        2  2014