In [53]:
#What is the probability of $35/night with a response 
#time =<day and 20 reviews?

In [2]:
import pandas as pd
import statsmodels.api as sm
import math

In [3]:
df = pd.read_csv('dog-vacay.csv', sep='\t')

In [21]:
df.head()

,Unnamed: 0,city,fee,ratings,repeat,response_time,review,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff,services,repeat5,Intercept,response_time_day
0,0,"Phoenix, Arizona",35,5,8,1,26,1,0,1,0,0,0,0,0,0,2,1,1,1
1,1,"Phoenix, Arizona",35,5,16,2,30,1,0,0,1,0,0,0,0,1,3,1,1,1
2,2,"Phoenix, Arizona",35,0,0,1,0,1,0,1,1,1,0,0,0,0,4,0,1,1
3,3,"Phoenix, Arizona",38,5,2,3,3,1,0,1,1,1,0,0,0,0,4,0,1,0
4,4,"Phoenix, Arizona",25,5,1,1,5,1,0,0,1,1,1,0,0,0,4,0,1,1

In [13]:
df['response_time_day'] = df['response_time'].map(lambda x: 1 if x <= 2 else 0)

In [14]:
intercept = [1] * len(df)
df['Intercept'] = intercept

In [15]:
ind_vars = ['Intercept','fee', 'review']

In [16]:
#Define the logistic regression model.
logit = sm.Logit(df['response_time_day'], df[ind_vars])

In [17]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.458921
         Iterations 6

In [18]:
coeff = result.params
print coeff

Intercept    1.677886
fee         -0.004088
review       0.005398
dtype: float64

In [19]:
def logistic_function(fee, review):
    prob = 1/(1 + math.exp(coeff[0] + coeff[2]*fee+coeff[1]*review))
    return prob

In [20]:
logistic_function(35, 20)

0.14368211498939504