In [ ]:
#What are the most common DogVacay host names?

In [615]:
import requests
import pandas as pd
import sqlite3 as lite
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from collections import Counter
import itertools
import re
import difflib
import keyword

In [579]:
df = pd.read_csv('dog-vacay.csv')

In [580]:
df.shape

(4662, 18)

In [581]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [582]:
#df.head()

In [583]:
df['names'] = df['names'].apply(lambda x: str(x).split())

In [587]:
list_ = df['names'].tolist()
merged_list = list(itertools.chain(*list_))
#Counter(merged_list)
# words = df['names'].tolist()
# Counter(word for line in words for word in line)

In [595]:
namecount = list(Counter(merged_list).items())
dfnames4 = pd.DataFrame(namecount)
dfnames4.columns = ['word', 'occurrence']

In [597]:
#df = df[df.name != 'Tina']
dfnames4 = dfnames4[(dfnames4.word != 'in') & 
                  (dfnames4.word != '&') & 
                  (dfnames4.word != 'and') & 
                  (dfnames4.word != 'for') & 
                  (dfnames4.word != 'The') & 
                  (dfnames4.word != 'of') & 
                  (dfnames4.word != 'a') & 
                  (dfnames4.word != 'A') &
                  (dfnames4.word != 'A') &
                  (dfnames4.word != 'with') &
                  (dfnames4.word != 'from') &
                  (dfnames4.word != 'to') &
                  (dfnames4.word != 'Your') &
                  (dfnames4.word != 'your') &
                  (dfnames4.word != 'the')]

In [601]:
dfnames4.sort('occurrence', ascending=False)

                 word  occurrence
2472              Dog         557
137              Home         333
3720              Pet         316
787             Puppy         290
2938             Care         205
4246           Doggie         190
1483            Doggy         169
1591             Love         165
857             Happy         152
3825             Paws         146
541               dog         130
561          Paradise         126
639              Dogs         120
715           Sitting         110
4156             home         108
98                Pup          98
4053           Loving          93
2072             Away          92
30            Retreat          81
3612            Lover          75
2926             Play          73
2869             Park          72
826            Canine          70
2129            House          70
1252             love          66
505                 -          63
465               Fun          62
3636             From          61
3425           Palace          60
775            Sitter          59
...               ...         ...
1912               II           1
1913            Daves           1
1914          Keepers           1
1916               IN           1
1918          walker.           1
1877              DIA           1
1876              Oak           1
1874         Dogtopia           1
1854      Everything!           1
1842           Doting           1
1843        Pancakes'           1
1844          Tessa's           1
1845             -ALL           1
1849        PAWsitive           1
1850          Member!           1
1851            HARTE           1
1852           PupPup           1
1853            Eve's           1
1855       BestFriend           1
1873      PAWSitively           1
1856         Home....           1
1857          romping           1
1858          School!           1
1859  Doggiemania,LLC           1
1860          Lover!!           1
1862            care!           1
1868  Doglife-cuddles           1
1869            care)           1
1872            Slice           1
4341     Doggie/Kitty           1

[4328 rows x 2 columns]

In [624]:
difflib.get_close_matches('Dog', dfnames4.word)

['Dog', 'Dogs', 'Doge']

In [450]:
#25%, 50%, 75% tiers based on reviews
df['tierreview'] = df['review'].map(lambda x: 1 if x<=3 else 2 if 3<x<=10 else 3)

In [451]:
#df.describe()

In [452]:
df.groupby('tierreview').mean()

,fee,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
tierreview,,,,,,,,,,,,,,,
1,39.879304,2.160155,0.352418,1.558607,0.753191,3.135397,0.921083,0.373308,0.601161,0.422050,0.457640,0.141973,0.027853,0.008124,0.182205
2,37.473970,4.971800,3.065076,1.583514,6.494577,3.191974,0.967462,0.360087,0.651844,0.437093,0.368764,0.163774,0.027115,0.015184,0.200651
3,36.952381,4.986147,16.211255,1.633766,32.712554,3.199134,0.991342,0.286580,0.705628,0.446753,0.311688,0.173160,0.031169,0.013853,0.238961

In [453]:
tier3 = df[df.tierreview == 3]
tier2 = df[df.tierreview == 2]
tier1 = df[df.tierreview == 1]

In [479]:
namelist3 = tier3['names']
tier3_list = list(itertools.chain(*namelist3))
namelist2 = tier2['names']
tier2_list = list(itertools.chain(*namelist2))
namelist1 = tier1['names']
tier1_list = list(itertools.chain(*namelist1))

In [538]:
d3 = list(Counter(tier3_list).items())
dfnames3 = pd.DataFrame(d3)
dfnames3.columns = ['word', 'occurrence']
#dfnames3.sort('occurrence', ascending=False)

In [548]:
#df = df[df.name != 'Tina']
dfnames3 = dfnames3[(dfnames3.word != 'in') & 
                  (dfnames3.word != '&') & 
                  (dfnames3.word != 'and') & 
                  (dfnames3.word != 'for') & 
                  (dfnames3.word != 'The') & 
                  (dfnames3.word != 'of') & 
                  (dfnames3.word != 'a') & 
                  (dfnames3.word != 'A') &
                  (dfnames3.word != 'A') &
                  (dfnames3.word != 'with') &
                  (dfnames3.word != 'from') &
                  (dfnames3.word != 'to') &
                  (dfnames3.word != 'Your') &
                  (dfnames3.word != 'your') &
                  (dfnames3.word != 'the')]

In [549]:
dfnames3.sort('occurrence', ascending=False).head(10)

          word  occurrence
910        Dog         123
55        Home         119
1080      Care          70
585       Love          44
325      Happy          40
551      Doggy          39
236       Dogs          38
215   Paradise          36
766       Away          33
14     Retreat          27

In [577]:
intercept = (dfnames3['occurrence'])/1600
dfnames3['intercept'] = intercept
dfnames3.sort('occurrence', ascending=False)

                word  occurrence  intercept
910              Dog         123   0.076875
55              Home         119   0.074375
1080            Care          70   0.043750
585             Love          44   0.027500
325            Happy          40   0.025000
551            Doggy          39   0.024375
236             Dogs          38   0.023750
215         Paradise          36   0.022500
766             Away          33   0.020625
14           Retreat          27   0.016875
310           Canine          25   0.015625
207              dog          24   0.015000
194                -          21   0.013125
790            House          21   0.013125
1343            From          20   0.012500
1075            Play          20   0.012500
1056            Park          19   0.011875
775            Hotel          19   0.011875
176              Fun          18   0.011250
239             away          18   0.011250
799             Pups          18   0.011250
488              Bed          17   0.010625
1004           Pooch          16   0.010000
368            Place          16   0.010000
729             Camp          15   0.009375
893              Inn          15   0.009375
470             love          15   0.009375
777            Tails          15   0.009375
1327           Haven          15   0.009375
1304         Friends          15   0.009375
...              ...         ...        ...
560              Jog           1   0.000625
559     CONNECTION!!           1   0.000625
520         Cavalier           1   0.000625
521           PRICES           1   0.000625
522    House-N-Hound           1   0.000625
523          CRITTER           1   0.000625
525               st           1   0.000625
528           1-on-1           1   0.000625
529            World           1   0.000625
530            Regia           1   0.000625
531           within           1   0.000625
533         Ultimate           1   0.000625
534              not           1   0.000625
535            CAUSE           1   0.000625
536            kids.           1   0.000625
537            Villa           1   0.000625
538       Sleepovers           1   0.000625
539             drop           1   0.000625
540         Teresa's           1   0.000625
543              WFH           1   0.000625
544        Pawsitive           1   0.000625
546            Clock           1   0.000625
547   Dog-Hockinson,           1   0.000625
549             Live           1   0.000625
550           Place!           1   0.000625
553          DogGone           1   0.000625
555              Joy           1   0.000625
556         Michigan           1   0.000625
558             Luvy           1   0.000625
672           Ziva's           1   0.000625

[1317 rows x 3 columns]

In [550]:
d2 = list(Counter(tier2_list).items())
dfnames2 = pd.DataFrame(d2)
dfnames2.columns = ['word', 'occurrence']
#dfnames2.sort('occurrence', ascending=False)

In [551]:
#df = df[df.name != 'Tina']
dfnames2 = dfnames2[(dfnames2.word != 'in') & 
                  (dfnames2.word != '&') & 
                  (dfnames2.word != 'and') & 
                  (dfnames2.word != 'for') & 
                  (dfnames2.word != 'The') & 
                  (dfnames2.word != 'of') & 
                  (dfnames2.word != 'a') & 
                  (dfnames2.word != 'A') &
                  (dfnames2.word != 'A') &
                  (dfnames2.word != 'with') &
                  (dfnames2.word != 'from') &
                  (dfnames2.word != 'Your') &
                  (dfnames2.word != 'your') &
                  (dfnames2.word != 'the')]

In [552]:
dfnames2.sort('occurrence', ascending=False).head(10)

        word  occurrence
284      Dog         119
747      Pet          68
150     Home          51
575    Puppy          51
1225  Doggie          46
883     Care          38
1033   Happy          37
644     Paws          35
635      dog          31
536     Love          29

In [531]:
d1 = list(Counter(tier1_list).items())
dfnames1 = pd.DataFrame(d1)
dfnames1.columns = ['word', 'occurrence']

In [556]:
#df = df[df.name != 'Tina']
dfnames1 = dfnames1[(dfnames1.word != 'in') & 
                  (dfnames1.word != '&') & 
                  (dfnames1.word != 'and') & 
                  (dfnames1.word != 'for') & 
                  (dfnames1.word != 'The') & 
                  (dfnames1.word != 'of') & 
                  (dfnames1.word != 'a') & 
                  (dfnames1.word != 'A') &
                  (dfnames1.word != 'A') &
                  (dfnames1.word != 'with') &
                  (dfnames1.word != 'from') &
                  (dfnames1.word != 'to') &
                  (dfnames1.word != 'Your') &
                  (dfnames1.word != 'your') &
                  (dfnames1.word != 'the')]

In [557]:
dfnames1.sort('occurrence', ascending=False).head(10)

        word  occurrence
1633     Dog         315
1054   Puppy         191
89      Home         163
2445     Pet         157
956    Doggy         103
1926    Care          97
1034    Love          92
2795  Doggie          82
560    Happy          75
347      dog          75

In [493]:
dfcombine = pd.concat([p1, p2, p3], axis=1, ignore_index=True)
dfcombine.columns = ['word', 'occurrence1', 'word', 'occurrence2', 'word', 'occurrence3']
#dfcombine.sort(['occurrence1', 'occurrence2', 'occurrence3'], ascending=[False, False, False])
dfcombine

,word,occurrence1,word,occurrence2,word,occurrence3
0,LOFT,1,all,7,Pick,1
1,Barks,8,Safe,4,Barks,3
2,Heights,17,Rossmore,1,Dog-errific,1
3,four,1,:),5,Heights,3
4,party!,1,Barky,1,party!,1
5,Lodge,5,Fix,1,Lodge,1
6,NYC,2,Stay-n-Play,1,NYC,2
7,Pawradise,3,WAG-A-TAIL,1,Hangout,4
8,Stephanie's,2,Sugar,1,Hootie,1
9,buddy,3,Rubs.,1,"Sand,",1
10,Petite,6,woods,1,Watch,1
11,(for,2,DoggyLand,1,Nirvana,1
12,Getaway-Doggy,1,K.O.s,1,Host,1
13,Watch,2,Professional,4,Pasadena!,1
14,Scottsdale,2,Lodge,1,Retreat,27
15,Platt,2,NYC,2,@,3
16,Host,2,only,1,Getaway,2
17,Pasadena!,1,House-a,1,Brea,1
18,Ziggy's,1,Frenchie,2,Bark.,1
19,Oko,1,Woofie,1,GA,1
20,@,2,dog!,3,Bark!,1
21,(Brooklyn),1,S.T.A.R.,1,Lovers!,1
22,24/7??,1,college,1,Premier,2
23,Kensington,1,Exceptional,1,Sandy,1
24,Getaway,17,fenced,1,enjoy,1
25,PoochCare,1,Fremont,1,me!,1
26,today!,1,Nob,1,Festival,1
27,GO,1,good,2,BED,1
28,PB&J,1,Experts!,1,Hounds,7
29,Doggie's,3,to,10,second,1
...,...,...,...,...,...,...
2828,Dog-Sitting,1,NaN,NaN,NaN,NaN
2829,PETS,1,NaN,NaN,NaN,NaN
2830,Club!,3,NaN,NaN,NaN,NaN
2831,Morningside,2,NaN,NaN,NaN,NaN
2832,Montavilla,2,NaN,NaN,NaN,NaN
2833,Like,8,NaN,NaN,NaN,NaN
2834,Ace,1,NaN,NaN,NaN,NaN
2835,Daisy's,1,NaN,NaN,NaN,NaN
2836,stay,8,NaN,NaN,NaN,NaN
2837,Persnickety,1,NaN,NaN,NaN,NaN
2838,U,3,NaN,NaN,NaN,NaN
2839,Panda's,1,NaN,NaN,NaN,NaN
2840,RULE!,2,NaN,NaN,NaN,NaN
2841,"Whisperer,",1,NaN,NaN,NaN,NaN
2842,friends,5,NaN,NaN,NaN,NaN
2843,in!,2,NaN,NaN,NaN,NaN
2844,South,7,NaN,NaN,NaN,NaN
2845,Kinship,1,NaN,NaN,NaN,NaN
2846,Prospect,5,NaN,NaN,NaN,NaN
2847,Lush,1,NaN,NaN,NaN,NaN
2848,Private,5,NaN,NaN,NaN,NaN
2849,Pats,1,NaN,NaN,NaN,NaN
2850,dog's,8,NaN,NaN,NaN,NaN
2851,Sleep,5,NaN,NaN,NaN,NaN
2852,Maple,1,NaN,NaN,NaN,NaN
2853,Poolside,1,NaN,NaN,NaN,NaN
2854,Happen,1,NaN,NaN,NaN,NaN
2855,Philly,4,NaN,NaN,NaN,NaN
2856,Montebello,1,NaN,NaN,NaN,NaN
2857,Doggie/Kitty,1,NaN,NaN,NaN,NaN