In [304]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import sqlite3 as lite
import os
import sys
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from collections import Counter

In [305]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.124 Safari/537.36'}

In [306]:
cities = [['tx', "austin"] ,[ 'ca' , 'los-angeles'] ,[ 'ga' , 'atlanta'] ,[ 'ma' , 'boston'] ,[ 'nc' , 'charlotte'] ,[ 'tx' , 'dallas'] ,[ 'co' , 'denver'] ,[ 'tx' , 'houston'] ,[ 'fl' , 'miami'] ,[ 'mn' , 'minneapolis'] ,[ 'ny' , 'new-york'] ,[ 'pa' , 'philadelphia'] ,[ 'az' , 'phoenix'] ,[ 'or' , 'portland'] ,[ 'ca' , 'san-francisco'] ,[ 'ca' , 'san-diego'] ,[ 'wa' , 'seattle'] ,[ 'dc' , 'washington'] ]

In [307]:
# CRAWL ALL THE PAGES OF INTERST
datadir = 'crawl/'
if not(os.path.isdir(datadir)):
    os.makedirs(datadir)

for city in cities:
    k = city[0]
    v = city[1]
    running = True
    page = 1
    print ''
    print k,v
    while running:
        url = "https://dogvacay.com/dog-boarding--" + k + "--" + v + "?p="+str(page)
        filename = datadir + k + '-' + v + '-' + str(page) + '.htm'
        if not(os.path.isfile(filename)):
            sys.stdout.write('-')
            r = requests.get(url, headers=headers)
            time.sleep(1)
            f = open(filename, 'w')
            f.write(r.text.encode('ascii', 'replace'))
            f.close()
            data = r.text
        else:
            sys.stdout.write('.')
            f = open(filename, 'r')
            data = f.read()
            f.close()
        soup = BeautifulSoup(data)
        pagination_links = soup.findAll('a', {'class': 'pagination-link'})
        running = False
        for pl in pagination_links:
            if pl.text.find('Next') == 0:
                running = True
        page+=1

tx austin
.........
ca los-angeles
........................................................
ga atlanta
............
ma boston
.............
nc charlotte
.......
tx dallas
............
co denver
...........
tx houston
...........
fl miami
.........
mn minneapolis
.......
ny new-york
...............................................................
pa philadelphia
............
az phoenix
.........
or portland
..........
ca san-francisco
.............................
ca san-diego
............
wa seattle
..........
dc washington
...........................

In [308]:
# Data extraction phase

times = []
fees = []
reviews = []
repeats = []
city = []
service = []
rating = []
name = []

for sitter in sitters:
    #rtwrap = sitter.findAll('div', {'class': 'icon-wrapper'})
    #if len(rtwrap) > 0:
    #    response_time = rtwrap[0].text.strip('\n')[19:]
    #else:
    #    response_time = -1
    fee = sitter.findAll('div', {'class': 'price price--primary u-text-center'})
    review = sitter.find('span', {'class': 'vcard-review'})
    if review is not None and len(review) > 0:
        review = int(review.text.replace('Reviews', '').replace('Review', '').strip())
    else:
        review = 0
    repeat = sitter.findAll('div', {'class': 'icon-wrapper'})
    if len(repeat) == 2 and len(repeat[1].text.strip()) > 12:
        repeat = repeat[1].text.strip()[:2]
    else:
        repeat = 0
    #services = sitter.findAll('div', {'class': 'vcard-line-item'})
    full_star = sitter.findAll('i', {'class': 'ck-star'})
    ratings = len(full_star)
    half_star = sitter.findAll('i', {'class': 'ck-star-half'})
    if len(half_star) > 0:
        ratings += .5
    names = sitter.find('h2', {'class': 'vcard-title'}).text.strip('\n$').split(' ')
    fees.append(fee[0].text.strip('\n$')[:2])
    title = soup.find('title').text
    i = title.find(' Dog Boarding')
    title = title[0:i]
    city.append(title)
    #times.append(response_time)
    reviews.append(review)
    repeats.append(repeat)
    #service.append(services[-1].text.strip('\n'))
    rating.append(ratings)
    name.append(names)

df = pd.DataFrame({'city': city, 'fee': fees, 'review' : reviews, 'repeat' : repeats, 'ratings': rating, 'names': name})

In [309]:
df

,city,fee,names,ratings,repeat,review
0,"Washington, District Of Columbia",32,"[Summit, Dog, Inn]",5,28,45
1,"Washington, District Of Columbia",23,"[Holli's, House, For, Hounds!]",5,8,12
2,"Washington, District Of Columbia",30,"[doggy, dogs, heaven]",0,0,0
3,"Washington, District Of Columbia",30,"[The, Bark, -, Dog, Destination, Vacation]",5,2,10
4,"Washington, District Of Columbia",33,"[The, Happy, Pack]",5,59,65
5,"Washington, District Of Columbia",40,"[Furry, Friends, Home, Away, From, Home]",5,1,2
6,"Washington, District Of Columbia",25,"[Lucky-Dog, Boarding]",5,0,1
7,"Washington, District Of Columbia",50,"[Pampered, Puppy, Paradise]",0,0,0
8,"Washington, District Of Columbia",30,"[Enter, as, Friends,, Leave, as, Family]",5,0,2
9,"Washington, District Of Columbia",50,[WAGZ-N-WIGGLES],0,0,0
10,"Washington, District Of Columbia",25,"[A, Pug's, Paradise]",5,1,2
11,"Washington, District Of Columbia",30,"[Cloud, K9]",5,1,5
12,"Washington, District Of Columbia",45,"[The, Farm]",5,1,3
13,"Washington, District Of Columbia",45,"[Reliable,, loving, care, for, your, dogs]",0,0,0
14,"Washington, District Of Columbia",42,"[I, love, all, Fur, Babies:)]",0,0,0

In [310]:
df['names']

0                             [Summit, Dog, Inn]
1                 [Holli's, House, For, Hounds!]
2                          [doggy, dogs, heaven]
3     [The, Bark, -, Dog, Destination, Vacation]
4                             [The, Happy, Pack]
5       [Furry, Friends, Home, Away, From, Home]
6                          [Lucky-Dog, Boarding]
7                    [Pampered, Puppy, Paradise]
8       [Enter, as, Friends,, Leave, as, Family]
9                               [WAGZ-N-WIGGLES]
10                          [A, Pug's, Paradise]
11                                   [Cloud, K9]
12                                   [The, Farm]
13    [Reliable,, loving, care, for, your, dogs]
14                 [I, love, all, Fur, Babies:)]
Name: names, dtype: object

In [323]:
words = df['names'].tolist()

In [324]:
Counter(word for line in words for word in line)

Counter({u'The': 3, u'as': 2, u'Paradise': 2, u'dogs': 2, u'Dog': 2, u'Home': 2, u'A': 1, u'all': 1, u'From': 1, u'For': 1, u'Furry': 1, u'Away': 1, u'Destination': 1, u'Vacation': 1, u'love': 1, u'K9': 1, u'Puppy': 1, u'your': 1, u'Happy': 1, u'WAGZ-N-WIGGLES': 1, u'for': 1, u'Farm': 1, u"Pug's": 1, u'-': 1, u'I': 1, u'doggy': 1, u'Friends': 1, u'loving': 1, u'Boarding': 1, u'care': 1, u'Fur': 1, u'Reliable,': 1, u'Pampered': 1, u'Leave': 1, u'Summit': 1, u'Friends,': 1, u'Enter': 1, u'Pack': 1, u'heaven': 1, u'Family': 1, u'House': 1, u"Holli's": 1, u'Inn': 1, u'Lucky-Dog': 1, u'Bark': 1, u'Babies:)': 1, u'Hounds!': 1, u'Cloud': 1})

In [290]:
df['names'][0]+df['names'][1]

[u'Summit', u'Dog', u'Inn', u"Holli's", u'House', u'For', u'Hounds!']

In [289]:
list = []
for row in (df['names']):
    row = list.append(row)
    print list[-1]

[u'Summit', u'Dog', u'Inn']
[u"Holli's", u'House', u'For', u'Hounds!']
[u'doggy', u'dogs', u'heaven']
[u'The', u'Bark', u'-', u'Dog', u'Destination', u'Vacation']
[u'The', u'Happy', u'Pack']
[u'Furry', u'Friends', u'Home', u'Away', u'From', u'Home']
[u'Lucky-Dog', u'Boarding']
[u'Pampered', u'Puppy', u'Paradise']
[u'Enter', u'as', u'Friends,', u'Leave', u'as', u'Family']
[u'WAGZ-N-WIGGLES']
[u'A', u"Pug's", u'Paradise']
[u'Cloud', u'K9']
[u'The', u'Farm']
[u'Reliable,', u'loving', u'care', u'for', u'your', u'dogs']
[u'I', u'love', u'all', u'Fur', u'Babies:)']

In [269]:
tuple(list)

([u'Summit', u'Dog', u'Inn'],
 [u"Holli's", u'House', u'For', u'Hounds!'],
 [u'doggy', u'dogs', u'heaven'],
 [u'The', u'Bark', u'-', u'Dog', u'Destination', u'Vacation'],
 [u'The', u'Happy', u'Pack'],
 [u'Furry', u'Friends', u'Home', u'Away', u'From', u'Home'],
 [u'Lucky-Dog', u'Boarding'],
 [u'Pampered', u'Puppy', u'Paradise'],
 [u'Enter', u'as', u'Friends,', u'Leave', u'as', u'Family'],
 [u'WAGZ-N-WIGGLES'],
 [u'A', u"Pug's", u'Paradise'],
 [u'Cloud', u'K9'],
 [u'The', u'Farm'],
 [u'Reliable,', u'loving', u'care', u'for', u'your', u'dogs'],
 [u'I', u'love', u'all', u'Fur', u'Babies:)'])

In [303]:
Counter(list)

TypeError: unhashable type: 'list'

In [129]:
a = np.array(df['names']).tolist()