In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import math
from sklearn.cross_validation import train_test_split #Split arrays or matrices into random train and test subsets
from sklearn.neighbors import KNeighborsClassifier

In [30]:
df = pd.read_excel('rollingsales_manhattan.xls', skiprows=4)

In [43]:
df[0:5]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,400,19,,A4,526 EAST 5TH STREET,,...,1,0,1,1883,5200,1900,1,A4,6500000,2015-03-18
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,1,1,2,1400,1839,1901,1,S1,0,2014-12-05
2,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,3,0,3,2381,3084,1899,1,C0,2900000,2014-11-26
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,8,2,10,2650,7620,1920,2,C7,0,2014-07-18
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,373,63,,C3,285 EAST 3RD STREET,,...,4,0,4,2084,2917,1900,2,C3,3100000,2014-08-05

In [44]:
dfTrain, dfTest = train_test_split(df, test_size=0.2, random_state=0)

In [47]:
dfTrain = pd.DataFrame(dfTrain, columns=df.columns)
dfTest = pd.DataFrame(dfTest, columns=df.columns)

In [54]:
cols = ['TOTAL UNITS', 'GROSS SQUARE FEET']

In [57]:
model = KNeighborsClassifier(n_neighbors=3)

In [58]:
model.fit(dfTrain[cols], dfTrain['NEIGHBORHOOD'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=3, p=2, weights='uniform')

In [60]:
for k in range(1,20):
    model = KNeighborsClassifier(n_neighbors=k)
    model.fit(dfTrain[cols], dfTrain['NEIGHBORHOOD'])    # make predictions
    expected = dfTest['NEIGHBORHOOD']
    predicted = model.predict(dfTest[cols])
    # misclassification rate
    error_rate = (predicted != expected).mean()
    print('%d:, %.2f' % (k, error_rate))

1:, 0.81
2:, 0.92
3:, 0.92
4:, 0.92
5:, 0.92
6:, 0.92
7:, 0.83
8:, 0.94
9:, 0.89
10:, 0.89
11:, 0.79
12:, 0.79
13:, 0.80
14:, 0.80
15:, 0.80
16:, 0.80
17:, 0.79
18:, 0.79
19:, 0.79

In [63]:
model = KNeighborsClassifier(n_neighbors=11)
model.fit(dfTrain[cols], dfTrain['NEIGHBORHOOD'])
predicted = model.predict([5,1000])
print predicted

[u'GREENWICH VILLAGE-WEST   ']