In [26]:
import requests
import datetime
import sqlite3 as lite
import pandas as pd
import matplotlib.pyplot as plt
import collections
import scipy.stats as stats
import numpy as np

In [2]:
cities = {"Austin": '30.303936,-97.754355', "Boston": '42.331960,-71.020173', "New_York": '40.663619,-73.938589', "Philadelphia": '40.009376,-75.133346', "Seattle": '47.620499,-122.350876'}

In [3]:
APIKEY = 'dc6b130f33e13a20201deb99ea5d59c1'

In [4]:
#connect to db
con = lite.connect('weather.db')
cur = con.cursor()

In [5]:
#From text - get start date and iterate until the present day
start_date = datetime.datetime.now()-datetime.timedelta(days=30)

In [6]:
start_date = datetime.datetime.now()-datetime.timedelta(days=30)
start_date = start_date.replace(minute=0, hour=0, second=0, microsecond=0)
total_start_date = start_date

In [7]:
#https://api.forecast.io/forecast/APIKEY/LATITUDE,LONGITUDE,TIME
url = 'https://api.forecast.io/forecast/' + APIKEY

In [86]:
#Example 
#Austin = 'https://api.forecast.io/forecast/dc6b130f33e13a20201deb99ea5d59c1/30.303936,-97.754355'

In [87]:
#Test
#r = requests.get("https://api.forecast.io/forecast/dc6b130f33e13a20201deb99ea5d59c1/30.303936,-97.754355")

In [8]:
r.status_code

NameError: name 'r' is not defined

In [15]:
r.json().keys()

[u'hourly',
 u'currently',
 u'longitude',
 u'flags',
 u'daily',
 u'offset',
 u'latitude',
 u'timezone',
 u'minutely']

In [11]:
#query = "DROP TABLE daily_temp"
#cur.execute(query)

OperationalError: no such table: daily_temp

In [14]:
#Create table
with con:
    cur.execute('CREATE TABLE daily_temp ( day INT, Austin REAL, Boston REAL, New_York REAL, Philadelphia REAL, Seattle REAL)')

In [13]:
cur.execute(query)

In [15]:
with con:
    while start_date<datetime.datetime.now():
        cur.execute('INSERT INTO daily_temp (day) VALUES (?)', (int(start_date.strftime('%s')),)) #inserting the time in Unix time 
        start_date += datetime.timedelta(days=1)

In [16]:
for k, v in cities.iteritems():
    start_date = total_start_date
    while start_date < datetime.datetime.now():
        #query for the value
        r = requests.get(url + '/' + v + ',' + start_date.strftime('%Y-%m-%dT12:00:00')) # insert url+lat/long+time
        #insert temperatureMax into the db
        with con:
            query = 'UPDATE daily_temp SET ' + k + '=' + str(r.json()['daily']['data'][0]['temperatureMax']) + ' WHERE day = ' + start_date.strftime('%s')
            print query
            cur.execute(query)
        
        #increment query_date to the next day for next operation of loop
        start_date += datetime.timedelta(days=1) #increment query_date to the next day

con.close() # a good practice to close connection to database

UPDATE daily_temp SET New_York=77.81 WHERE day = 1432962000
UPDATE daily_temp SET New_York=78.03 WHERE day = 1433048400
UPDATE daily_temp SET New_York=60.37 WHERE day = 1433134800
UPDATE daily_temp SET New_York=54.83 WHERE day = 1433221200
UPDATE daily_temp SET New_York=63.27 WHERE day = 1433307600
UPDATE daily_temp SET New_York=63.34 WHERE day = 1433394000
UPDATE daily_temp SET New_York=63.06 WHERE day = 1433480400
UPDATE daily_temp SET New_York=74.94 WHERE day = 1433566800
UPDATE daily_temp SET New_York=67.92 WHERE day = 1433653200
UPDATE daily_temp SET New_York=73.69 WHERE day = 1433739600
UPDATE daily_temp SET New_York=81.38 WHERE day = 1433826000
UPDATE daily_temp SET New_York=77.51 WHERE day = 1433912400
UPDATE daily_temp SET New_York=87.06 WHERE day = 1433998800
UPDATE daily_temp SET New_York=82.7 WHERE day = 1434085200
UPDATE daily_temp SET New_York=82.7 WHERE day = 1434171600
UPDATE daily_temp SET New_York=80.18 WHERE day = 1434258000
UPDATE daily_temp SET New_York=78.49 WHERE day = 1434344400
UPDATE daily_temp SET New_York=74.6 WHERE day = 1434430800
UPDATE daily_temp SET New_York=75.78 WHERE day = 1434517200
UPDATE daily_temp SET New_York=68.21 WHERE day = 1434603600
UPDATE daily_temp SET New_York=82.48 WHERE day = 1434690000
UPDATE daily_temp SET New_York=73.67 WHERE day = 1434776400
UPDATE daily_temp SET New_York=84.26 WHERE day = 1434862800
UPDATE daily_temp SET New_York=84.36 WHERE day = 1434949200
UPDATE daily_temp SET New_York=87.44 WHERE day = 1435035600
UPDATE daily_temp SET New_York=81.66 WHERE day = 1435122000
UPDATE daily_temp SET New_York=80.04 WHERE day = 1435208400
UPDATE daily_temp SET New_York=78.05 WHERE day = 1435294800
UPDATE daily_temp SET New_York=70.05 WHERE day = 1435381200
UPDATE daily_temp SET New_York=74.2 WHERE day = 1435467600
UPDATE daily_temp SET New_York=77.67 WHERE day = 1435554000
UPDATE daily_temp SET Boston=84.3 WHERE day = 1432962000
UPDATE daily_temp SET Boston=75.84 WHERE day = 1433048400
UPDATE daily_temp SET Boston=49.24 WHERE day = 1433134800
UPDATE daily_temp SET Boston=49.03 WHERE day = 1433221200
UPDATE daily_temp SET Boston=54.06 WHERE day = 1433307600
UPDATE daily_temp SET Boston=56.12 WHERE day = 1433394000
UPDATE daily_temp SET Boston=57.81 WHERE day = 1433480400
UPDATE daily_temp SET Boston=64.8 WHERE day = 1433566800
UPDATE daily_temp SET Boston=65.72 WHERE day = 1433653200
UPDATE daily_temp SET Boston=74.06 WHERE day = 1433739600
UPDATE daily_temp SET Boston=74.66 WHERE day = 1433826000
UPDATE daily_temp SET Boston=81.19 WHERE day = 1433912400
UPDATE daily_temp SET Boston=86.49 WHERE day = 1433998800
UPDATE daily_temp SET Boston=76.5 WHERE day = 1434085200
UPDATE daily_temp SET Boston=81.47 WHERE day = 1434171600
UPDATE daily_temp SET Boston=72.32 WHERE day = 1434258000
UPDATE daily_temp SET Boston=64.22 WHERE day = 1434344400
UPDATE daily_temp SET Boston=69.29 WHERE day = 1434430800
UPDATE daily_temp SET Boston=66.68 WHERE day = 1434517200
UPDATE daily_temp SET Boston=71.71 WHERE day = 1434603600
UPDATE daily_temp SET Boston=79.91 WHERE day = 1434690000
UPDATE daily_temp SET Boston=71.01 WHERE day = 1434776400
UPDATE daily_temp SET Boston=72.26 WHERE day = 1434862800
UPDATE daily_temp SET Boston=74.56 WHERE day = 1434949200
UPDATE daily_temp SET Boston=81.57 WHERE day = 1435035600
UPDATE daily_temp SET Boston=80.13 WHERE day = 1435122000
UPDATE daily_temp SET Boston=76.54 WHERE day = 1435208400
UPDATE daily_temp SET Boston=70.1 WHERE day = 1435294800
UPDATE daily_temp SET Boston=68.23 WHERE day = 1435381200
UPDATE daily_temp SET Boston=59.95 WHERE day = 1435467600
UPDATE daily_temp SET Boston=71.62 WHERE day = 1435554000
UPDATE daily_temp SET Seattle=67.36 WHERE day = 1432962000
UPDATE daily_temp SET Seattle=68.29 WHERE day = 1433048400
UPDATE daily_temp SET Seattle=60.52 WHERE day = 1433134800
UPDATE daily_temp SET Seattle=60.98 WHERE day = 1433221200
UPDATE daily_temp SET Seattle=62.44 WHERE day = 1433307600
UPDATE daily_temp SET Seattle=66.87 WHERE day = 1433394000
UPDATE daily_temp SET Seattle=73.16 WHERE day = 1433480400
UPDATE daily_temp SET Seattle=77.2 WHERE day = 1433566800
UPDATE daily_temp SET Seattle=81.74 WHERE day = 1433653200
UPDATE daily_temp SET Seattle=78.16 WHERE day = 1433739600
UPDATE daily_temp SET Seattle=75.76 WHERE day = 1433826000
UPDATE daily_temp SET Seattle=74.25 WHERE day = 1433912400
UPDATE daily_temp SET Seattle=69.52 WHERE day = 1433998800
UPDATE daily_temp SET Seattle=63.06 WHERE day = 1434085200
UPDATE daily_temp SET Seattle=70.03 WHERE day = 1434171600
UPDATE daily_temp SET Seattle=74.44 WHERE day = 1434258000
UPDATE daily_temp SET Seattle=76.82 WHERE day = 1434344400
UPDATE daily_temp SET Seattle=69.97 WHERE day = 1434430800
UPDATE daily_temp SET Seattle=72.29 WHERE day = 1434517200
UPDATE daily_temp SET Seattle=73.29 WHERE day = 1434603600
UPDATE daily_temp SET Seattle=69.55 WHERE day = 1434690000
UPDATE daily_temp SET Seattle=73.17 WHERE day = 1434776400
UPDATE daily_temp SET Seattle=76.22 WHERE day = 1434862800
UPDATE daily_temp SET Seattle=73.68 WHERE day = 1434949200
UPDATE daily_temp SET Seattle=76.42 WHERE day = 1435035600
UPDATE daily_temp SET Seattle=75.97 WHERE day = 1435122000
UPDATE daily_temp SET Seattle=82.56 WHERE day = 1435208400
UPDATE daily_temp SET Seattle=84 WHERE day = 1435294800
UPDATE daily_temp SET Seattle=86.93 WHERE day = 1435381200
UPDATE daily_temp SET Seattle=79.44 WHERE day = 1435467600
UPDATE daily_temp SET Seattle=83.97 WHERE day = 1435554000
UPDATE daily_temp SET Austin=85.5 WHERE day = 1432962000
UPDATE daily_temp SET Austin=84.99 WHERE day = 1433048400
UPDATE daily_temp SET Austin=86.62 WHERE day = 1433134800
UPDATE daily_temp SET Austin=87.9 WHERE day = 1433221200
UPDATE daily_temp SET Austin=88.7 WHERE day = 1433307600
UPDATE daily_temp SET Austin=88.08 WHERE day = 1433394000
UPDATE daily_temp SET Austin=88.7 WHERE day = 1433480400
UPDATE daily_temp SET Austin=89.45 WHERE day = 1433566800
UPDATE daily_temp SET Austin=89.79 WHERE day = 1433653200
UPDATE daily_temp SET Austin=91.86 WHERE day = 1433739600
UPDATE daily_temp SET Austin=93.7 WHERE day = 1433826000
UPDATE daily_temp SET Austin=92.66 WHERE day = 1433912400
UPDATE daily_temp SET Austin=91.87 WHERE day = 1433998800
UPDATE daily_temp SET Austin=91.98 WHERE day = 1434085200
UPDATE daily_temp SET Austin=92.9 WHERE day = 1434171600
UPDATE daily_temp SET Austin=84.48 WHERE day = 1434258000
UPDATE daily_temp SET Austin=87.37 WHERE day = 1434344400
UPDATE daily_temp SET Austin=80.32 WHERE day = 1434430800
UPDATE daily_temp SET Austin=85.99 WHERE day = 1434517200
UPDATE daily_temp SET Austin=86.54 WHERE day = 1434603600
UPDATE daily_temp SET Austin=83.52 WHERE day = 1434690000
UPDATE daily_temp SET Austin=81.86 WHERE day = 1434776400
UPDATE daily_temp SET Austin=85.16 WHERE day = 1434862800
UPDATE daily_temp SET Austin=87.17 WHERE day = 1434949200
UPDATE daily_temp SET Austin=89.12 WHERE day = 1435035600
UPDATE daily_temp SET Austin=89.75 WHERE day = 1435122000
UPDATE daily_temp SET Austin=91.22 WHERE day = 1435208400
UPDATE daily_temp SET Austin=91.61 WHERE day = 1435294800
UPDATE daily_temp SET Austin=87.89 WHERE day = 1435381200
UPDATE daily_temp SET Austin=87.53 WHERE day = 1435467600
UPDATE daily_temp SET Austin=91.25 WHERE day = 1435554000
UPDATE daily_temp SET Philadelphia=87.02 WHERE day = 1432962000
UPDATE daily_temp SET Philadelphia=90.55 WHERE day = 1433048400
UPDATE daily_temp SET Philadelphia=74.27 WHERE day = 1433134800
UPDATE daily_temp SET Philadelphia=57.68 WHERE day = 1433221200
UPDATE daily_temp SET Philadelphia=68.49 WHERE day = 1433307600
UPDATE daily_temp SET Philadelphia=67.53 WHERE day = 1433394000
UPDATE daily_temp SET Philadelphia=74.23 WHERE day = 1433480400
UPDATE daily_temp SET Philadelphia=79.28 WHERE day = 1433566800
UPDATE daily_temp SET Philadelphia=76.79 WHERE day = 1433653200
UPDATE daily_temp SET Philadelphia=85.02 WHERE day = 1433739600
UPDATE daily_temp SET Philadelphia=84.51 WHERE day = 1433826000
UPDATE daily_temp SET Philadelphia=84.58 WHERE day = 1433912400
UPDATE daily_temp SET Philadelphia=92.07 WHERE day = 1433998800
UPDATE daily_temp SET Philadelphia=92.47 WHERE day = 1434085200
UPDATE daily_temp SET Philadelphia=85.49 WHERE day = 1434171600
UPDATE daily_temp SET Philadelphia=88.44 WHERE day = 1434258000
UPDATE daily_temp SET Philadelphia=88.58 WHERE day = 1434344400
UPDATE daily_temp SET Philadelphia=86.03 WHERE day = 1434430800
UPDATE daily_temp SET Philadelphia=82.08 WHERE day = 1434517200
UPDATE daily_temp SET Philadelphia=71.37 WHERE day = 1434603600
UPDATE daily_temp SET Philadelphia=84.83 WHERE day = 1434690000
UPDATE daily_temp SET Philadelphia=80.42 WHERE day = 1434776400
UPDATE daily_temp SET Philadelphia=87.73 WHERE day = 1434862800
UPDATE daily_temp SET Philadelphia=88.33 WHERE day = 1434949200
UPDATE daily_temp SET Philadelphia=91.26 WHERE day = 1435035600
UPDATE daily_temp SET Philadelphia=83 WHERE day = 1435122000
UPDATE daily_temp SET Philadelphia=82.75 WHERE day = 1435208400
UPDATE daily_temp SET Philadelphia=80.74 WHERE day = 1435294800
UPDATE daily_temp SET Philadelphia=68.3 WHERE day = 1435381200
UPDATE daily_temp SET Philadelphia=75.9 WHERE day = 1435467600
UPDATE daily_temp SET Philadelphia=78.86 WHERE day = 1435554000

In [66]:
#Fixing No JSON error - added '/' to request
r = url + '/' + v + ',' + (start_date.strftime('%Y-%m-%dT12:00:00'))

In [67]:
r

'https://api.forecast.io/forecast/dc6b130f33e13a20201deb99ea5d59c1/40.663619,-73.938589,2015-05-16T12:00:00'

In [17]:
con = lite.connect('weather.db')
cur = con.cursor()

In [18]:
df = pd.read_sql_query("SELECT * FROM daily_temp ORDER BY day",con,index_col='day')

In [76]:
df

            Austin  Boston  New_York  Philadelphia  Seattle
day
1432357200   84.65   63.25     66.20         71.07    60.03
1432443600   80.95   80.50     73.86         81.79    60.77
1432530000   81.39   78.12     81.01         87.04    59.77
1432616400   88.14   83.62     80.62         88.53    64.88
1432702800   84.22   82.63     75.45         88.39    70.30
1432789200   86.05   83.03     79.01         85.37    75.41
1432875600   88.51   70.50     78.62         87.84    71.85
1432962000   85.50   84.30     77.81         87.02    67.36
1433048400   84.99   75.84     78.03         90.55    68.29
1433134800   86.62   49.24     60.37         74.27    60.52
1433221200   87.90   49.03     54.83         57.68    60.98
1433307600   88.70   54.06     63.27         68.49    62.44
1433394000   88.08   56.12     63.34         67.53    66.87
1433480400   88.70   57.81     63.06         74.23    73.16
1433566800   89.45   64.80     74.94         79.28    77.20
1433653200   89.79   65.72     67.92         76.79    81.74
1433739600   91.86   74.06     73.69         85.02    78.71
1433826000   91.99   73.04     76.13         84.10    79.37
1433912400   91.67   77.88     76.18         82.44    76.27
1433998800   91.49   83.05     84.84         90.31    72.02
1434085200   91.25   77.39     81.78         91.89    65.93
1434171600   91.96   77.63     81.53         85.55    71.90
1434258000   84.39   70.82     80.86         87.83    76.61
1434344400   86.93   63.11     76.09         87.22    80.48
1434430800   81.15   68.25     74.78         86.87    70.79
1434517200   85.88   67.25     75.93         81.99    73.46
1434603600   86.14   72.06     69.06         71.54    74.28
1434690000   83.58   79.60     82.44         84.43    71.23
1434776400   81.10   70.32     72.69         79.86    73.88
1434862800   84.87   73.50     85.89         87.79    77.24
1434949200   86.66   77.04     84.20         87.88    73.19

In [ ]:
#What's the range of temperatures for each city? 
#Whatis the mean temperature for each city? 
#What's the variance? Are there any patterns in the data? 
#Which cities had the largest temperature changes over the time period?

In [19]:
#What's the range of temperatures for each city? 
max(df['Seattle'])-min(df['Seattle'])
a = max(df['Austin'])-min(df['Austin'])
b = max(df['Boston'])-min(df['Boston'])
c = max(df['New_York'])-min(df['New_York'])
d = max(df['Philadelphia'])-min(df['Philadelphia'])
e = max(df['Seattle'])-min(df['Seattle'])
print a, b, c, d, e

13.38 37.46 32.61 34.79 26.41

In [20]:
#Whatis the mean temperature for each city? 
a = df['Austin'].mean()
b = df['Boston'].mean()
c = df['New_York'].mean()
d = df['Philadelphia'].mean()
e = df['Seattle'].mean()
print a, b, c, d, e

88.2412903226 70.3674193548 75.4758064516 81.2451612903 73.4858064516

In [21]:
#What's the variance? 
a = df['Austin'].var()
b = df['Boston'].var()
c = df['New_York'].var()
d = df['Philadelphia'].var()
e = df['Seattle'].var()
print a, b, c, d, e

10.9541316129 97.3120664516 66.4319051613 69.5010924731 46.118671828

In [ ]:
#Just as you did with the Citi Bike data, go through the the sequence 
#of temperature readings and calculate the change between days and
#find the greatest range in high temperatures in the month you measured. 
#Which city had the greatest variation? 
#What is the distribution of the difference? Does the result surprise you? 
#Why or why not?

In [23]:
daily_change = collections.defaultdict(int) #defaultdict should contain integer values
for col in df.columns: # loop through columns in dataframe
    city_vals = df[col].tolist() #creates list of values?
    city_id = col 
    city_change = 0
    for k, v in enumerate(city_vals): 
        if k < len(city_vals) - 1:
            city_change += abs(city_vals[k] - city_vals[k+1])
    daily_change[str(city_id)] = city_change #city_id is str and city_change int is added

In [24]:
daily_change

defaultdict(<type 'int'>, {'New_York': 161.06, 'Boston': 178.59999999999991, 'Seattle': 111.65000000000001, 'Austin': 60.130000000000052, 'Philadelphia': 168.61999999999995})

In [22]:
#Greatest variation = Boston
a = df['Austin'].std()
b = df['Boston'].std()
c = df['New_York'].std()
d = df['Philadelphia'].std()
e = df['Seattle'].std()
print a, b, c, d, e

3.3097026472 9.86468785373 8.15057698334 8.33673152219 6.79107295116

In [37]:
#Test normal distribution
plt.figure()
test_data = df['Boston']   
graph1 = stats.probplot(test_data, dist="norm", plot=plt)
plt.show()

In [45]:
plt.hist(boston_vals, histtype='bar')
plt.show()

In [43]:
boston_vals = df['Boston'].tolist()